<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarMapper">

	 <resultMap type="Car"    id="resultCartype">
	 	<result column="N_XH"     property="n_xh"/>
	 	<result column="C_CPHM"   property="c_cphm"/>
	 	<result column="C_YHZID"  property="c_yhzid"/>
	 	<result column="D_GMSJ"  property="d_gmsj"/>
	 	<result column="D_ZCSJ"  property="d_zcsj"/>
	 	<result column="D_DJ"   property="d_dj"/>
	 	<result column="D_YCSJ"   property="d_ycsj"/>
	 	<result column="C_YB"   property="c_yb"/>
	 </resultMap>
	 
	 <resultMap type="Car"    id="resultCar">
	 	<result column="N_XH"     property="n_xh"/>
	 	<result column="N_CLLBXH"   property="n_cllbxh"/>
	 	<result column="N_CLLBXH_"  property="n_cllbxh_"/>
	 	<result column="C_YHID"   property="c_yhid"/>
	 	<result column="C_SQSY"   property="c_sqsy"/>
	 	<result column="D_CCSJ"   property="d_ccsj"/>
	 	<result column="D_GDSJ"   property="d_gdsj"/>
	 	<result column="C_SHJG"   property="c_shjg"/>
	 	<result column="D_DJ"   property="d_dj"/>
	 </resultMap>
	 
	<select id="getCartype" parameterType="Car" resultMap="resultCartype">
		SELECT * FROM B_CLLB WHERE N_XH = #{n_xh}
	</select>
	 
    <select id="getCar" parameterType="Car" resultType="Car">
		SELECT N_XH,
			   N_CLLBXH,
			   FUN_GET_CPHMYHZ(N_CLLBXH)  C_YHZID_ ,
			   FUN_GET_YHMC(C_YHID) C_YHID,
			   C_SQSY,
			   TO_CHAR(D_CCSJ,'YYYY-MM-DD HH24:MI:SS') D_CCSJ,
			   TO_CHAR(D_GDSJ,'YYYY-MM-DD HH24:MI:SS') D_GDSJ
	    FROM B_CLSQ WHERE N_XH = #{n_xh}
	</select>
	
	<select id="printCar" parameterType="string" resultType="Car">
	 SELECT B_CLLB.C_CPHM C_CPHM,
	       B_CLLB.C_PPXH C_PPXH,
	       B_CLLB.C_ZRSJ C_ZRSJ,
	       FUN_GET_DMMC('DEP',B_CLSQ.C_YHZID) C_YHZID,
	       TO_CHAR(B_CLSQ.D_DJ,'YYYY-MM-DD') D_DJ,
	       FUN_GET_YHMC(B_CLSQ.C_YHID) C_YHID,
	       TO_CHAR(B_CLSQ.D_CCSJ,'YYYY-MM-DD HH24:MI:SS') D_CCSJ,
	       TO_CHAR(B_CLSQ.D_GDSJ,'YYYY-MM-DD HH24:MI:SS') D_GDSJ,
	       B_CLSQ.C_SQSY C_SQSY,
	       DECODE(C_SHJG,'1','同意','0','不同意','等待审核') C_SHJG
	  FROM B_CLSQ, B_CLLB
	 WHERE B_CLSQ.N_CLLBXH = B_CLLB.N_XH
	   AND B_CLSQ.N_XH = #{n_xh}
	</select>
	
	<select id="getCarList" resultMap="resultCar" parameterType="hashmap">
		SELECT N_XH,
             N_CLLBXH,
	         FUN_GET_CPHM(N_CLLBXH) N_CLLBXH_,
             FUN_GET_YHMC(C_YHID) C_YHID,
             C_SQSY,
             TO_CHAR(D_CCSJ, 'YYYY-MM-DD HH24:MI:SS') D_CCSJ,
             TO_CHAR(D_GDSJ, 'YYYY-MM-DD HH24:MI:SS') D_GDSJ,
             DECODE(C_SHJG, '1', '同意', '0', '不同意', '等待审核') C_SHJG,
             TO_CHAR(D_DJ, 'YYYY-MM-DD HH24:MI:SS') D_DJ
        FROM B_CLSQ
        <if test="type != null and type == 'yh'">
	 	 WHERE C_YHID = #{c_yhid}
	  	</if>
       ORDER BY N_XH DESC
	</select>
	 
	<select id="getCarPageList" resultMap="resultCar" parameterType="hashmap">
	SELECT N_XH,N_CLLBXH, N_CLLBXH_, C_YHID, C_SQSY, D_CCSJ, D_GDSJ, C_SHJG, D_DJ
	  FROM (SELECT S.*, ROWNUM RN
	          FROM (SELECT N_XH,
	                       N_CLLBXH,
	                       FUN_GET_CPHM(N_CLLBXH) N_CLLBXH_,
	                       FUN_GET_YHMC(C_YHID) C_YHID,
	                       C_SQSY,
	                       TO_CHAR(D_CCSJ, 'YYYY-MM-DD HH24:MI:SS') D_CCSJ,
	                       TO_CHAR(D_GDSJ, 'YYYY-MM-DD HH24:MI:SS') D_GDSJ,
	                       DECODE(C_SHJG, '1', '同意', '0', '不同意', '等待审核') C_SHJG,
	                       TO_CHAR(D_DJ, 'YYYY-MM-DD HH24:MI:SS') D_DJ
	                  FROM B_CLSQ  
	                  <if test="type != null and type == 'sh'">
				 		 WHERE C_SFSH = '0'
				  	  </if>
	                 ORDER BY N_XH DESC) S
	         WHERE ROWNUM &lt;= #{limit}) T
	 WHERE T.RN &gt; #{start}
	</select>
	
	<select id="getCarPageListCnt" resultType="long" parameterType="hashmap">
		SELECT COUNT(*) Total 
			FROM B_CLSQ 
		<if test="type != null and type == 'sh'">
 		 WHERE C_SFSH = '0'
  	    </if> 
	</select>
	
	<select id="getCartypeList" resultMap="resultCartype">
		SELECT N_XH,
			   FUN_GET_DMMC('DEP',C_YHZID) C_YHZID ,
		       C_CPHM,
		       TO_CHAR(D_GMSJ,'YYYY-MM-DD') D_GMSJ,
		       TO_CHAR(D_DJ,'YYYY-MM-DD HH24:MI:SS') D_DJ
		  FROM B_CLLB
		  ORDER BY N_XH DESC
	</select>
	
	<select id="getCartypeWarnList" resultMap="resultCartype">
		SELECT N_XH,
			   C_YHZID,
			   FUN_GET_DMMC('DEP',C_YHZID) C_YHZID_ ,
		       C_CPHM||':'||TO_CHAR(ADD_MONTHS(D_YCSJ,12),'YYYY-MM-DD') C_CPHM
		  FROM B_CLLB
	    WHERE D_YCSJ =  TRUNC(ADD_MONTHS(SYSDATE,-11) ,'DD')
	       OR D_YCSJ =  TRUNC(ADD_MONTHS(SYSDATE,-12) + 15,'DD')
	       OR D_YCSJ =  TRUNC(ADD_MONTHS(SYSDATE,-11) + 5,'DD')
	      ORDER BY N_XH DESC
	</select>
	
	
	<select id="getCartypeCombox" resultType="Combox" parameterType="hashmap">
		SELECT N_XH VALUE,
	       C_CPHM TEXT
	    FROM B_CLLB
       WHERE 1 = 1
       <if test="type != null and type != ''  and type == 'clsq' ">
 		 AND C_SFXZ = '1' 
  	   </if>
       <if test="c_yhzid != null and c_yhzid != '' ">
 		 AND C_YHZID = #{c_yhzid}
  	   </if>
	</select>
	
	<!-- 
	getCartypeSelectList
	<select id="getCartypeCombox" resultType="Combox" parameterType="string">
		SELECT N_XH VALUE,
	       C_CPHM TEXT
	    FROM B_CLLB
       WHERE NOT EXISTS
      	 (SELECT 'X'
           FROM B_CLSQ S
          WHERE S.N_CLLBXH = B_CLLB.N_XH
            AND S.D_GDSJ >
                TO_DATE(TO_CHAR(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD')
         ) AND C_YHZID = #{c_yhzid}
	</select>
	
	 -->
	
	<delete id="deleteCar" parameterType="long">
		DELETE FROM B_CLSQ WHERE N_XH = #{n_xh}
	</delete>
	
	<delete id="deleteCartype" parameterType="int">
		DELETE FROM B_CLLB WHERE N_XH = #{n_xh}
	</delete>
	
	<insert id="insertCar" parameterType="hashmap">
		 INSERT INTO B_CLSQ(
		   N_XH      ,
		   N_CLLBXH  ,
		   C_YHID    ,
		   C_YHZID   ,
		   C_SQSY    ,
		   D_CCSJ    ,
		   D_GDSJ    ,
		   C_SFSH    ,
		   D_DJ      ) 
		VALUES (	            	
	      seq_b_clsq.nextval,        
          #{n_cllbxh,jdbcType=NUMERIC},  
          #{c_yhid,jdbcType=VARCHAR},   
          #{c_yhzid,jdbcType=VARCHAR},       
          #{c_sqsy,jdbcType=VARCHAR},           
          TO_DATE(#{d_ccsj,jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'),           
          TO_DATE(#{d_gdsj,jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'),
          '0',           
       	  sysdate
	    )  
	</insert>
	
	<insert id="insertCartype" parameterType="hashmap">
		INSERT INTO B_CLLB(
		   N_XH    ,
		   C_CPHM  ,
		   C_PPXH  ,
		   D_GMSJ  ,
		   D_ZCSJ  ,
		   C_ZRSJ  ,
		   C_YHZID ,
		   D_DJ    ,
		   D_YCSJ  ,
		   C_YB    ) 
		VALUES (	            	
	      seq_b_cllb.nextval,        
          #{c_cphm,jdbcType=VARCHAR}, 
          #{c_ppxh,jdbcType=VARCHAR}, 
          TO_DATE(#{d_gmsj,jdbcType=VARCHAR},'YYYY-MM-DD'), 
          TO_DATE(#{d_zcsj,jdbcType=VARCHAR},'YYYY-MM-DD'), 
          #{c_zrsj,jdbcType=VARCHAR}, 
          #{c_yhzid,jdbcType=VARCHAR}, 
       	  sysdate,
       	  TO_DATE(#{d_ycsj,jdbcType=DATE},'YYYY-MM-DD'),  
       	  #{c_yb,jdbcType=VARCHAR}    
	    )  
	</insert>
	
	<update id="updateCar" parameterType="hashmap">
		UPDATE B_CLSQ
		   SET  N_CLLBXH =	#{n_cllbxh,jdbcType=VARCHAR},
		        C_SQSY   =	#{c_sqsy,jdbcType=VARCHAR},
		        D_CCSJ   =	TO_DATE(#{d_ccsj,jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS'),
		   		D_GDSJ   =  TO_DATE(#{d_gdsj,jdbcType=DATE},'YYYY-MM-DD HH24:MI:SS')
		WHERE N_XH = #{n_xh}
	</update>
	
	<update id="operateCar" parameterType="hashmap">
		UPDATE B_CLSQ
		   SET  C_SHJG  =  #{c_shjg,jdbcType=VARCHAR},
		        C_SHR   =  #{c_shr,jdbcType=VARCHAR},
		        D_SHSJ  =  sysdate,
		   		C_SFSH  =  1
		WHERE N_XH = #{n_xh}
	</update>
	
	<update id="backCar" parameterType="int">
		UPDATE B_CLLB
		   SET  C_SFXZ  =  '1'
		WHERE N_XH = #{n_xh}
	</update>
	
	<update id="updateCartype" parameterType="hashmap">
		UPDATE B_CLLB
		   SET  C_CPHM   =	#{c_cphm,jdbcType=VARCHAR},
		        C_PPXH   =	#{c_ppxh,jdbcType=VARCHAR},
		   		D_GMSJ   =  TO_DATE(#{d_gmsj,jdbcType=VARCHAR},'YYYY-MM-DD'),
		   		D_ZCSJ   =  TO_DATE(#{d_zcsj,jdbcType=VARCHAR},'YYYY-MM-DD'),
		   		C_YHZID  =  #{c_yhzid,jdbcType=VARCHAR},
		   		C_ZRSJ   =  #{c_zrsj,jdbcType=VARCHAR},
		   		D_YCSJ   =  TO_DATE(#{d_ycsj,jdbcType=VARCHAR},'YYYY-MM-DD'),
		   		C_YB     =  #{c_yb,jdbcType=VARCHAR}
		WHERE N_XH = #{n_xh}
	</update>
	
	<select id="getCartypeSelectList" resultType="Combox" parameterType="hashmap">
	   SELECT N_XH VALUE,
	       C_CPHM TEXT
	  FROM B_CLLB 
	  <if test="c_yhzid != null and c_yhzid != '' ">
	 	WHERE C_YHZID = #{c_yhzid}
	  </if>
	</select>
	
</mapper>