<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarRepairMapper">

	 <resultMap type="CarRepair"     id="resultCarRepair">
	 	<result column="N_XH"      property="n_xh"/>
	 	<result column="N_CLLBXH"  property="n_cllbxh"/>
	 	<result column="C_SXRY"    property="c_sxry"/>
	 	<result column="N_CLXSZLC" property="n_clxszlc"/>
	 	<result column="D_SQRQ"    property="d_sqrq"/>
	 	<result column="C_SHJG"    property="c_shjg"/>
	 </resultMap>

	<select id="getCarRepair" parameterType="CarRepair" resultType="CarRepair">
		 SELECT   N_XH      ,
				  N_CLLBXH  ,
				  TO_CHAR(D_SQRQ,'YYYY-MM-DD') D_SQRQ ,
				  C_CLZK    ,
				  N_CLXSZLC ,
				  C_SXRY    ,
				  C_LXFS    ,
				  TO_CHAR(D_DJ,'YYYY-MM-DD') D_DJ ,
				  C_CLBM    ,
				  C_YHZID   ,
				  C_YHID     
		FROM B_CLWX WHERE N_XH = #{n_xh}
	</select>
	
	
	<delete id="deleteCarRepair" parameterType="int">
		DELETE FROM B_CLWX WHERE N_XH = #{n_xh}
	</delete>
	
	<select id="printCarRepair" parameterType="string" resultType="carRepair">
		 SELECT  B_CLLB.C_CPHM C_CPHM,
		         B_CLLB.C_PPXH C_PPXH,
		         B_CLLB.C_ZRSJ C_ZRSJ,
		         FUN_GET_DMMC('DEP',B_CLLB.C_YHZID) C_YHZID,
		         TO_CHAR(B_CLWX.D_DJ,'YYYY-MM-DD') D_DJ,
		         B_CLWX.C_CLZK C_CLZK,
		         B_CLWX.C_SXRY C_SXRY,
		         DECODE(B_CLWX.C_SHJG_F,'1','同意','0','不同意','等待审核') C_SHJG_F,
		         DECODE(B_CLWX.C_SHJG_T,'1','同意','0','不同意','等待审核') C_SHJG_T
	    FROM B_CLLB, B_CLWX
	   WHERE B_CLWX.N_CLLBXH = B_CLLB.N_XH
	     AND B_CLWX.N_XH = #{n_xh}
	</select>
	
	<insert id="insertCarRepair" parameterType="hashmap">
		 INSERT INTO B_CLWX(
		      N_XH      ,
			  N_CLLBXH  ,
			  C_CLBM    ,
			  D_SQRQ    ,
			  C_SXRY    ,
			  N_CLXSZLC ,
			  C_CLZK    ,
			  C_LXFS    ,
			  D_DJ      ,
			  C_YHZID   ,
			  C_YHID    ) 
		VALUES (	            	
	          seq_b_clwx.nextval,        
              #{n_cllbxh,jdbcType=NUMERIC}, 
              #{c_clbm,jdbcType=VARCHAR}, 
			  TO_DATE(#{d_sqrq,jdbcType=DATE},'YYYY-MM-DD'),
			  #{c_sxry,jdbcType=VARCHAR}, 
			  #{n_clxszlc,jdbcType=NUMERIC},
			  #{c_clzk,jdbcType=VARCHAR}, 
			  #{c_lxfs,jdbcType=NUMERIC},
			  SYSDATE,
			  #{c_yhzid,jdbcType=VARCHAR}, 
			  #{c_yhid,jdbcType=VARCHAR}
	    )  
	</insert>
	
	<select id="getCarRepairPageList" resultMap="resultCarRepair" parameterType="hashmap">
	SELECT N_XH, N_CLLBXH, C_SXRY, N_CLXSZLC, D_SQRQ, C_SHJG
	  FROM (SELECT S.*, ROWNUM RN
	          FROM (SELECT N_XH,
				       FUN_GET_CPHM(N_CLLBXH) N_CLLBXH,
				       C_SXRY,
				       N_CLXSZLC,
				       TO_CHAR(D_SQRQ, 'YYYY-MM-DD') D_SQRQ,
				       (CASE WHEN C_SFSH = '0' 
				             THEN '待审核'
				          WHEN C_SFSH = '1' AND C_SHJG = '01'
				             THEN '等待警保部门审核'  
				          WHEN C_SFSH = '1' AND C_SHJG = '11'    
				            THEN '审核通过'
				          WHEN C_SFSH = '1' AND C_SHJG = '00'
				            THEN '审核不通过'
				        END) C_SHJG
				  FROM B_CLWX
				  WHERE 1 = 1
				  <if test="c_clbm != null and c_clbm != '' ">
				  	 AND C_CLBM = #{c_clbm}
				  </if> 
				  <if test="n_cllbxh != null and n_cllbxh != '' ">
				  	 AND N_CLLBXH = #{n_cllbxh}
				  </if>
				  <if test="operateType == 'sh' and c_ks != '18' ">
				  	AND C_SFSH  = '0' 
				  </if>
				  <if test="operateType == 'sh' and c_ks == '18' ">
				  	AND C_SFSH = '1'
				    AND C_SHJG = '01'
				  </if>
				  ORDER BY N_XH DESC) S
	         WHERE ROWNUM &lt;= #{limit}) T
	 WHERE T.RN &gt; #{start}
	</select>
	
	<select id="getCarRepairPageListCnt" resultType="long" parameterType="hashmap">
	   SELECT COUNT(*) Total
		 FROM B_CLWX
	   WHERE 1 = 1
	  <if test="c_clbm != null and c_clbm != '' ">
	  	 AND C_CLBM = #{c_clbm}
	  </if> 
	  <if test="n_cllbxh != null and n_cllbxh != '' ">
	  	 AND N_CLLBXH = #{n_cllbxh}
	  </if>
	  <if test="operateType == 'sh' and c_ks != '18' ">
	  	AND C_SFSH  = '0' 
	  </if>
	  <if test="operateType == 'sh' and c_ks == '18' ">
	  	AND C_SFSH = '1'
	    AND C_SHJG = '01'
	  </if>
	</select>
	
	<update id="updateCarRepair" parameterType="hashmap">
		UPDATE B_CLWX
	      SET N_CLLBXH   =  #{n_cllbxh,jdbcType=NUMERIC},
	          C_CLBM     =  #{c_clbm,jdbcType=VARCHAR},
			  D_SQRQ     =  TO_DATE(#{d_sqrq,jdbcType=DATE},'YYYY-MM-DD'),
			  C_SXRY     =  #{c_sxry,jdbcType=VARCHAR},
			  N_CLXSZLC  =  #{n_clxszlc,jdbcType=NUMERIC},
			  C_LXFS     =  #{c_lxfs,jdbcType=NUMERIC}
		WHERE N_XH = #{n_xh}
	</update>
	
	
	<update id="operateCarRepair" parameterType="hashmap">
		UPDATE B_CLWX
	      SET C_SFSH  =  '1',
	      <if test="c_ks != '18' ">
	      	  D_SHSJ_F = SYSDATE,
	      	  C_SHR_F = #{c_shr},
	      	  C_SHJG_F = #{c_shjg},
	      	  C_SHJG = DECODE(#{c_shjg},'0','00','1','01')
	      </if>
	      <if test="c_ks == '18' ">
	      	  D_SHSJ_T = SYSDATE,
	      	  C_SHR_T = #{c_shr},
	      	  C_SHJG_T = #{c_shjg},
	      	  C_SHJG = DECODE(#{c_shjg},'0','00','1','11')
	      </if>
		WHERE N_XH = #{n_xh}
	</update>
	
	
</mapper>