
button {cursor:pointer;}
.i-top { width:940px; height:25px; padding:0 10px; overflow:hidden; margin:0 auto 10px auto; line-height:25px; border-bottom:1px solid #E9E9E9; background: #EEEFEF url(http://misc.web.xunlei.com/www_5_1/../newimages/1.png) repeat-x 0 -88px; }
.i-top .logo { width:200px; height:20px; margin:0 auto; padding:2px 740px 3px 0; color:#D9DADD; overflow:hidden; float:none; }
.i-top .logo a { background:none; display:inline; float:none; margin:0; padding:0; height:auto; }
.i-top .pd { width:740px; margin:-25px auto 0 auto; padding-left:200px; color:#838383; text-align:right; font-family:simsun; overflow:hidden; }
.i-top a { color:#5E6671; font-family:Arial; }
/**/
.channel-top { width:960px; height:15px; padding-top:5px; overflow:hidden; white-space:nowrap; margin:20px auto 5px; color:#5E6671; font:12px/15px simsun; }
.channel-top .c-logo { float:left; margin:0 10px; display:inline; }
.channel-top .c-logo img { vertical-align:baseline; margin-top:-5px; position:relative; }
.channel-top .dir { float:left; border-left:1px solid #D9DADD; padding-left:10px; height:15px; }
.channel-top .dir a { color:#5E6671; }
.channel-top .legibleA { float:left; padding-left:20px; background-position:-500px -68px; }
.channel-top dl { float:right; margin-right:6px; display:inline; color:#818181; }
.channel-top dl a { color:#818181; }
.channel-top dl dt { display:inline; }
.channel-top dl dd { display:inline; }
/**/
.channel-nav {
	width:980px;
	height:37px;
	overflow:hidden;
	background:url(../newimages/toolbar.png) no-repeat;
	position:relative;
	margin-top: 4px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.channel-nav ul { width:977px; height:33px; line-height:33px; font-size:14px; overflow:hidden; position:absolute; top:1px; left:4px; }
.channel-nav li { height:33px; overflow:hidden; float:left; padding-left:2px; background:url(../newimages/4322.png) no-repeat; position:relative; left:-2px; }
.channel-nav li a { float:left; padding:0 26px; color:#fff; }
.channel-nav li a:visited { float:left; padding:0 26px; color:#fff; }
.channel-nav li a:hover, .channel-nav li.selected a { text-decoration:none; background:url(../newimages/1.png) no-repeat 50% -40px; }
.channel-nav .search { position:absolute; width:226px; height:20px; top:8px; left:726px; overflow:hidden; background:url(../newimages/1.png) no-repeat -720px -40px; }
.channel-nav .search input { position:absolute; width:150px; height:16px; top:2px; left:20px; font-size:12px; line-height:16px; background:none; border:none; }
.channel-nav .search input.notxt { color:#D8D8D8; }
.channel-nav .search button { position:absolute; width:48px; height:20px; top:0; left:178px; background:none; border:none; padding-top:20px; }
/**/
.banner-middle { width:960px; margin:0 auto 8px auto; overflow:hidden; position:relative; clear:both; zoom:1; line-height:0; font-size:0; }
