a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #ef9b11;
	text-decoration: underline;
}

body {
	/**
	background: url(../newimages/bg.png);
	**/
	overflow: auto;
	text-align: center;
	font-size: 14px;
	margin: 0;
}

#container {
	margin: 0 auto;
	text-align: center;
	width: 980px;
	height: 2200px;
	background: url(../newimages/contanter_bg.png) repeat;
}

#container_news {
	margin: 0 auto;
	text-align: center;
	width: 980px;
	height: 1140px;
	background: url(../newimages/contanter_bg.png) repeat;
}

#container_detail {
	margin: 0 auto;
	text-align: center;
	width: 980px;
	height: 980px;
	background: url(../newimages/contanter_bg.png) repeat;
}

#banner_top {
	background-image: url(../newimages/banner_top.png);
	height: 99px;
}

#banner_bottom {
	background-image: url(../newimages/banner_bottom.png);
	height: 152px;
}

#favor {
	color: #FFFFFF; 2 px; 2 px; 0 px;
	float: right;
	padding-top: 82px;
	padding-right: 20px;
	padding-bottom: 1px;
	padding-left: 82px;
}

#toolbar {
	background-image: url(../newimages/toolbar.png);
	height: 37px;
}

#toolbar_font {
	color: #FFFFFF;
	padding: 10px; 0 px; 0 xp; 100 px;
	font-size: 14px;
}

#toolbar_font ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#toolbar_font li {
	float: left;
	margin-left: 25px;
}

#search_bar {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr=#BBE4FF, EndColorStr=#FFFFFF );
	height: 24px;
	border: solid 1px #a9cfe5;
	width: 978px;
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
}

#dt_news {
	margin-top: 5px;
}

#focus_news {
	padding: 2px;
	margin-left: 3px;
	border: solid 1px #a9cfe5;
	width: 553px;
	height: 405px;
	float: left;
}

#focus_news_title {
	background-image: url(../newimages/focus_news_title_bg.png);
	height: 38px;
	margin: 0px 4px 0px 3px;
	padding-bottom: 0px;
}

#news_title1 {
	padding-top: 5px;
	padding-left: 30px;
}

#lddt_news {
	padding: 2px;
	border: solid 1px #a9cfe5;
	width: 403px;
	height: 405px;
	float: right;
}

#lddt_news_title {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr=#BBE4FF, EndColorStr=#FFFFFF );
}

#focus_news_title_left {
	font-size: 14px;
	color: #1e77b5;
	font-weight: bold;
	margin: 5px;
	float: left;
}

#lddt_news_title_right {
	float: right;
	margin: 5px;
	font-size: 14px;
	color: #126eaf;
}

#focus_news_title_left_img {
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}

#red_lddt_title_div {
	border-bottom: dashed 1px #a9cfe5;
	padding: 10px;
	float: left;
	width: 380px;
}

#red_lddt_title {
	clear: both;
	font-size: 20px;
	color: red;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}

#lddt_news_list {
	border-bottom: dashed 1px #ccc;
	float: left;
	padding-bottom: 4px;
}

#lddt_news_list_c {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	text-align: left;
}

#lddt_news_list_ggl {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

#lddt_news_list_d {
	margin-top: 5px;
	float: right;
	margin-right: 20px;
	color: #ccc;
}

#pic_link_1 {
	border: solid 1px #a9cfe5;
	height: 70px;
	float: left;
	margin-top: 10px;
	margin-left: 2px;
	width: 976px;
}

#pic_link_1_list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#pic_link_1_list li {
	float: left;
	margin-left: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#pic_link_2 {
	border: solid 1px #a9cfe5;
	height: 70px;
	float: left;
	width: 980px;
	margin-top: 10px;
	margin-left: 2px;
	/**
	background-image: url(../newimages/cdmyjq.png);
	**/
}

#jwgk_title {
	height: 30px;
	float: left;
	width: 980px;
	margin-top: 10px;
	margin-left: 2px;
	background: url(../newimages/jwgk.png)
}

#jwgk_content {
	border: solid 1px #a9cfe5;
	height: 520px;
	float: left;
	margin-left: 2px;
	width: 978px;
}

#jwgk_content_left {
	float: left;
	width: 230px;
}

.jrzb_div {
	border-left: solid 1px #a9cfe5;
	border-right: solid 1px #a9cfe5;
	border-bottom: solid 1px #a9cfe5;
	margin: 10px;
}

.jrzb_title {
	background: url(../newimages/conten_title_bg.png) repeat-x;
	border-top: solid 1px #a9cfe5;
	height: 29px;
	padding-bottom: 5px;
}

.jrzb_title_img {
	margin-top: 7px;
	margin-left: 10px;
	float: left;
}

.jrzb_title_font {
	margin-top: 7px;
	float: left;
	margin-left: 5px;
	color: #0a62a0;
	font-weight: bold;
	font-size: 14px;
}

.yydh_content_list ul {
	margin: 8px 0px 8px 0px;
	padding: 0;
	list-style-type: none;
}

#jwgk_content_center {
	float: left;
	width: 505px;;
	height: 400px;
	border-right: dashed 1px #a9cfe5;
	margin: 10px 5px 10px 0px;
	padding-left: 10px;
}

#wsbg {
	margin-left: 10px;
	margin-top: 25px;
}

.jwgk_content_center_title {
	width: 496px;
	height: 32px;
	background: url(../newimages/jwgk_center_content_title_bg.png);
}

.jwgk_content_center_title_font {
	margin-top: 10px;
	float: left;
	margin-left: 30px;
	color: #0a62a0;
	font-weight: bold;
	font-size: 14px;
}

.jwgk_content_center_title_more {
	margin-top: 10px;
	float: right;
	margin-right: 10px;
	color: #0a62a0;
}

.jwgk_content_center_content {
	width: 496px;
	height: 160px;
}

#jwgk_content_right {
	float: right;
	width: 226px;
	height: 400px;
	margin-right: 5px;
}

.ggl_div {
	margin-top: 10px;
	height: 182px;
	width: 210px;
}

.ggl_title {
	background-image: url(../newimages/ggl_bg.png);
	height: 29px;
	padding-bottom: 5px;
}

.ggl_title_font {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
	margin-left: 15px;
	float: left;
}

.wldh_div {
	border-left: solid 1px #a9cfe5;
	border-right: solid 1px #a9cfe5;
	border-bottom: solid 1px #a9cfe5;
	margin-top: 10px;
	height: 215px;
	width: 210px;
}

#ztzl_title {
	height: 30px;
	float: left;
	width: 980px;
	margin-top: 10px;
	margin-left: 2px;
	background: url(../newimages/ztzl.png)
}

#ztzl_content {
	border: solid 1px #a9cfe5;
	height: 475px;
	float: left;
	margin-left: 2px;
	width: 978px;
}

#ztzl_content_left {
	float: left;
	width: 230px;
	height: 400px;
}

.ztzl_img_div {
	margin: 10px;
}

.xxph_div {
	margin: 10px;
	height: 200px;
}

.xxph_title_content {
	width: 210px;
	border-bottom: solid 1px #a9cfe5;
	float: left;
}

#xxph_content ul {
	clear: both;
	margin: 5px;
	padding: 0;
	list-style-type: none;
}

#xxph_content ul {
	width: 200px;
}

.xxphk_list_img_red {
	margin-top: 14px;
	margin-left: 8px;
	float: left;
	background-image: url(../newimages/phb_red_bg.png);
	width: 16px;
	height: 16px;
}

.xxphk_list_img_blue {
	margin-top: 14px;
	margin-left: 8px;
	float: left;
	background-image: url(../newimages/phb_blue_bg.png);
	width: 16px;
	height: 16px;
}

.xxphk_list_font {
	margin-top: 16px;
	float: left;
	margin-left: 3px;
	color: #0a62a0;
	width: 120px;
}

.xxphk_list_num {
	float: right;
	margin-top: 14px;
	margin-right: 13px;
	color: #96b4eb;
}

.xxph_font {
	color: #FFFFFF;
	margin-left: 2px;
}

#ztzl_content_center {
	float: left;
	width: 395px;
	height: 430px;
	border-right: dashed 1px #a9cfe5;
	margin: 10px 10px 10px 0px;
	padding-left: 5px;
}

.ztzl_content_center_title {
	width: 358px;
	height: 32px;
	background-image: url(../newimages/ztzl_content_title_bg.png);
}

.ztzl_content_center_title_font {
	margin-top: 10px;
	float: left;
	margin-left: 30px;
	color: #0a62a0;
	font-weight: bold;
	font-size: 14px;
}

.ztzl_content_center_title_more {
	margin-top: 10px;
	float: right;
	margin-right: 10px;
	color: #0a62a0;
}

.ztzl_content_center_content {
	height: 187px;
}

#ztzl_content_right {
	float: right;
	width: 330px;
	height: 200px;
	margin: 10px 0px 10px 0px;
}

.ztzl_content_right_title {
	width: 330px;
	height: 32px;
	background-image: url(../newimages/ztzl_content_title_bg_r.png);
}

.ztzl_content_rigth_title_font {
	margin-top: 9px;
	float: left;
	margin-left: 18px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

#roll_image {
	height: 67px;
	float: left;
	width: 980px;
	margin-top: 10px;
	margin-left: 2px;
	background: url(../newimages/rool_img.png)
}

#bottom_blue_line {
	height: 3px;
	float: left;
	width: 980px;
	margin-top: 10px;
	background: url(../newimages/bottom_blue_line.png) repeat-x;
}

#bottom_left {
	margin: 0 auto;
	text-align: center;
	color: #888888;
	float: left;
	width: 800px;
	margin: 10px 0px 10px 0px;
}

#bottom_right {
	margin: 0 auto;
	text-align: center;
	color: #888888;
	float: left;
	margin: 10px 0px 10px 0px;
	border-left: solid 2px; #61 b4e3;
	padding-left: 20px;
}

#menu_list_left {
	float: left;
	margin-left: 2px;
	width: 232px;
}

.menu_title {
	background: url(../newimages/work.png) repeat-x;
	border-top: solid 1px #a9cfe5;
	height: 60px;
	padding-bottom: 5px;
}

.menu_content_list {
	text-align: center
}

.menu_content_list ul {
	margin: 5px;
	padding: 0;
	list-style-type: none;
}

.menu_div {
	border-left: solid 1px #a9cfe5;
	border-right: solid 1px #a9cfe5;
	border-bottom: solid 1px #a9cfe5;
	margin-top: 10px;
	background: url(../newimages/menu_bg.png) repeat-y;
}

#news_center {
	float: left;
	width: 720px;;
	height: 670px;
	border: solid 1px #a9cfe5;
	margin: 10px 0px 0px 10px;
	background: url(../newimages/new_list_bg.png) repeat-x;
}

.news_center_title {
	width: 734px;
	height: 28px;
	background: url(../newimages/news_head.png);
}

.news_center_title_font {
	margin-top: 10px;
	float: left;
	margin-left: 30px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
}

.news_center_title_more {
	margin-top: 10px;
	float: right;
	margin-right: 10px;
}

.news_content_center_content {
	width: 710px;
	height: 160px;
}

#news_news_list {
	border-bottom: dashed 1px #ccc;
	margin-top: 5px;
	float: left;
}

#news_news_list_c {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 5px;
	margin-left: 15px;
	float: left;
	margin-bottom: 5px;
	width: 700px;
}

#news_news_list_d {
	margin-top: 5px;
	float: right;
	color: #ccc;
}

#ljcsc {
	margin-top: 10px;
}

.tztb_div {
	border-left: solid 1px #a9cfe5;
	border-right: solid 1px #a9cfe5;
	border-bottom: solid 1px #a9cfe5;
	margin-top: 10px;
	background-color: #FFF;
}

.tztb_title {
	border-top: solid 1px #a9cfe5;
	background: url(../newimages/conten_title_bg.png) repeat-x;
	height: 29px;
	padding-bottom: 5px;
}

.tztb_title_img {
	margin-top: 7px;
	margin-left: 10px;
	float: left;
}

.tztb_title_font {
	margin-top: 7px;
	float: left;
	margin-left: 5px;
	color: #0a62a0;
	font-weight: bold;
	font-size: 14px;
}

.tztb_content_list ul {
	margin: 5px;
	padding: 0;
	list-style-type: none;
}

.main-cons {
	padding: 0px 0 0px 0px;
}

.main-con img {
	margin-top: 10px;
	border: 0px;
}

.main-con2 {
	background: url("../images/index/bg-2.png") 0 bottom no-repeat;
	padding: 20px 0 4px 10px;
}

#tabph {
	font: 12px/1.5 Arial;
}

#tabph h5,ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tabph a:link,a:visited {
	color: #333;
	text-decoration: none;
}

#tabph a:hover {
	text-decoration: underline;
}

#wrap {
	width: 215px;
	border: 3px solid #1972C0;
	border-width: 0px 0;
	margin: 0px auto;
}

#list {
	overflow: hidden;
	zoom: 1;
	margin-left: -10px;
}

#wrap .item {
	display: inline;
	float: left;
	width: 215px;
	padding-bottom: 10px;
	border: 1px solid #EBEBEB;
	margin: 10px 0 10px 10px;
}

#wrap .item .tab {
	position: relative;
	height: 25px;
	border-bottom: 1px solid #CCC;
	margin: 8px;
}

#wrap .item .tab h5 {
	position: absolute;
	left: 10px;
	font-size: 14px;
}

#wrap .item .tab .switchBtn {
	position: absolute;
	top: 3px;
	right: 0;
}

#wrap .item .tab .switchBtn a {
	float: left;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	overflow: hidden;
	text-indent: -999px;
	background: url(http://js.fgm.cc/learn/lesson10/img/icon_arr.gif)
		no-repeat;
	outline: none;
}

#wrap .item .tab .switchBtn a.prev {
	background-position: 0 -25px;
}

#wrap .item .tab .switchBtn a.prevNot {
	background-position: 0 0;
	cursor: default;
}

#wrap .item .tab .switchBtn a.next {
	background-position: right -25px;
}

#wrap .item .tab .switchBtn a.nextNot {
	background-position: right 0;
	cursor: default;
}

#wrap .item .tab ul {
	position: absolute;
	top: -2px;
	left: 50px;
	width: 160px;
	height: 28px;
	overflow: hidden;
}

#wrap .item .tab ul li {
	float: left;
	cursor: pointer;
	line-height: 26px;
	padding: 0 8px;
}

#wrap .item .tab ul li.tabcurrent {
	cursor: text;
	color: #E45E2E;
	font-weight: 700;
	border: 1px solid #CCC;
	border-bottom-color: #FFF;
}

#wrap .item .items {
	display: none;
	background: url(../images/icon_num.gif) 15px 4px no-repeat;
	padding: 0 15px;
}

#wrap .item .items a {
	color: #3A64B0;
}

#wrap .item .items li {
	height: 24px;
	line-height: 24px;
	padding-left: 20px;
	border-bottom: 1px solid #CCCCCC;
}

#wrap .item .btn {
	height: 22px;
	margin-top: 10px;
}

#wrap .item .btn a {
	float: right;
	width: 74px;
	height: 22px;
	overflow: hidden;
	margin-right: 15px;
	text-indent: -9999px;
	background: url(http://js.fgm.cc/learn/lesson10/img/icon_btn.gif)
		no-repeat;
}

#wrap .item .btn a:hover {
	background-position: 0 -22px;
}

/*·ÖÒ³Ò³ÂëÑùÊ½*/
DIV.digg {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center
}

DIV.digg A {
	BORDER-RIGHT: #aaaadd 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #aaaadd 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px;
	BORDER-LEFT: #aaaadd 1px solid;
	COLOR: #000099;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #aaaadd 1px solid;
	TEXT-DECORATION: none
}

DIV.digg A:hover {
	BORDER-RIGHT: #000099 1px solid;
	BORDER-TOP: #000099 1px solid;
	BORDER-LEFT: #000099 1px solid;
	COLOR: #000;
	BORDER-BOTTOM: #000099 1px solid
}

DIV.digg A:active {
	BORDER-RIGHT: #000099 1px solid;
	BORDER-TOP: #000099 1px solid;
	BORDER-LEFT: #000099 1px solid;
	COLOR: #000;
	BORDER-BOTTOM: #000099 1px solid
}

DIV.digg SPAN.current {
	BORDER-RIGHT: #000099 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #000099 1px solid;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px;
	BORDER-LEFT: #000099 1px solid;
	COLOR: #fff;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #000099 1px solid;
	BACKGROUND-COLOR: #000099
}

DIV.digg SPAN.disabled {
	BORDER-RIGHT: #eee 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #eee 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	MARGIN: 2px;
	BORDER-LEFT: #eee 1px solid;
	COLOR: #ddd;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #eee 1px solid
}