<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClxxMapper">
	
	<resultMap id="Result"  type="java.util.Map">
	     	<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
			<result property="cXxwh" column="C_XXWH" jdbcType="VARCHAR"/>
			<result property="dXxrq" column="D_XXRQ" jdbcType="VARCHAR"/>
			<result property="cBz" column="C_BZ" jdbcType="VARCHAR"/>
			<result property="cZt" column="C_ZT" jdbcType="VARCHAR"/>
			<result property="cZtName" column="C_ZT_NAME" jdbcType="VARCHAR"/>
			
		
	</resultMap>
	
	<resultMap id="Result2"  type="java.util.Map">
			<result property="cXxwh" column="C_XXWH" jdbcType="VARCHAR"/>
			
		
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					base.C_XXWH,
					base.C_BZ,
					to_char(base.D_XXRQ,'YYYY-MM-DD')  D_XXRQ,
					base.C_ZT,
					case base.C_ZT when '1' then '有效'  else '无效' end as C_ZT_NAME
				 from B_CLXX base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cXxwh != null and cXxwh !='' ">  and C_XXWH = #{cXxwh}</if>
			
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
			
			<if test="dXxrqBegin != null and dXxrqBegin !='' ">  and D_XXRQ &gt;= to_date(#{dXxrqBegin},'YYYY-MM-DD')</if>
			<if test="dXxrqEnd != null and dXxrqEnd !='' "> and D_XXRQ &lt; to_date(#{dXxrqEnd},'YYYY-MM-DD')</if>
			
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select>
	
	
	<select id="getWh" resultMap="Result2"  parameterType="java.util.Map" >
				 select 
					base.C_XXWH
				 from B_CLXX base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="cBz != null and cBz !='' ">   C_BZ like  '%${cBz}%'    </if>
		</trim>
		ORDER BY base.C_XXWH  DESC
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
						 select 
					base.N_XH,
					base.C_XXWH,
					base.C_BZ,
					to_char(base.D_XXRQ,'YYYY-MM-DD')  D_XXRQ,
					base.C_ZT,
					case base.C_ZT when '1' then '有效'  else '无效' end as C_ZT_NAME
				 from B_CLXX base 
		 <trim prefix="where" prefixOverrides="and |or"> 
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cXxwh != null and cXxwh !='' ">  and C_XXWH = #{cXxwh}</if>
			
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
			
			<if test="dXxrqBegin != null and dXxrqBegin !='' ">  and D_XXRQ &gt;= to_date(#{dXxrqBegin},'YYYY-MM-DD')</if>
			<if test="dXxrqEnd != null and dXxrqEnd !='' "> and D_XXRQ &lt; to_date(#{dXxrqjEnd},'YYYY-MM-DD')</if>
			
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from B_CLXX base
		  <trim prefix="where" prefixOverrides="and |or"> 
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cXxwh != null and cXxwh !='' ">  and C_XXWH = #{cXxwh}</if>
			
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
			
			<if test="dXxrqBegin != null and dXxrqBegin !='' ">  and D_XXRQ &gt;= to_date(#{dXxrqBegin},'YYYY-MM-DD')</if>
			<if test="dXxrqEnd != null and dXxrqEnd !='' "> and D_XXRQ &lt; to_date(#{dXxrqjEnd},'YYYY-MM-DD')</if>
			
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO B_CLXX(
				 N_XH
			<if test="cXxwh != null and cXxwh !='' ">  ,  C_XXWH</if>
			<if test="cBz != null and cBz !='' ">  ,  C_BZ</if>
			<if test="dXxrq != null and dXxrq !='' ">  ,  D_XXRQ</if>
			<if test="cZt != null and cZt !='' ">  ,  C_ZT</if>
			)VALUES(
				SEQ_CLXX.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="cXxwh != null and cXxwh !='' ">  ,  #{cXxwh}</if>
			<if test="cBz != null and cBz !='' ">  ,  #{cBz}</if>
			<if test="dXxrq != null and dXxrq !='' ">  ,  to_date(#{dXxrq},'YYYY-MM-DD')</if>
			<if test="cZt != null and cZt !='' ">  ,  #{cZt}</if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_CLXX.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO B_CLXX(
				N_XH,
				C_XXWH,
				C_BZ,
				D_XXRQ,
				C_ZT
			)VALUES(
				 SEQ_CLXX.NEXTVAL,  
				  #{cXxwh},
			     #{cBz},
			   to_date(#{dXxrq},'YYYY-MM-DD')
			   #{cZt}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_CLXX.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<update id="updateInfo" parameterType="java.util.Map"> 
			update B_CLXX 
			<trim prefix="set" prefixOverrides=","> 
			<if test="cXxwh != null and cXxwh !='' ">, C_XXWH =  #{cXxwh}</if>
			<if test="cBz != null and cBz !='' ">, C_BZ =  #{cBz}</if>
			<if test="dXxrq != null and dXxrq !='' ">, D_XXRQ =   to_date(#{dXxrq},'YYYY-MM-DD')</if>
			<if test="cZt != null and cZt !='' ">, C_ZT =   #{cZt}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs ">,= null and nXhs !='' ">  and  N_XH in (${nXhs})</if>
			</trim>
	</update> 

	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update B_CLXX set 
			 C_XXWH =  #{cXxwh}
			,C_BZ =  #{cBz}
			, D_XXRQ =  to_date(#{dXxrq},'YYYY-MM-DD')
			, C_ZT =   #{cZt}
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM B_CLXX
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ BTN_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>