<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HyjlMapper">
	
	<resultMap id="Result"  type="java.util.Map">
	     	<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
			<result property="cHyzt" column="C_HYZT" jdbcType="VARCHAR"/>
			<result property="cHydd" column="C_HYDD" jdbcType="VARCHAR"/>
			<result property="cHynr" column="C_HYNR" jdbcType="VARCHAR"/>
			<result property="dRq" column="D_RQ" jdbcType="VARCHAR"/>
		    <result property="cCjry" column="C_CJRY" jdbcType="VARCHAR"/>
			<result property="cBz" column="C_BZ" jdbcType="VARCHAR"/>
			<result property="cZt" column="C_ZT" jdbcType="VARCHAR"/>
		
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					base.C_HYZT,
					base.C_HYDD,
					base.C_HYNR,
					to_char(base.D_RQ,'YYYY-MM-DD')  D_RQ,
					base.C_CJRY,
					base.C_BZ,
					base.C_ZT,
					case base.C_ZT when '1' then '有效'  else '无效' end as C_ZT_NAME
				 from B_HYJL base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cHyzt != null and cHyzt !='' ">  and C_HYZT = #{cHyzt}</if>
			<if test="cHydd != null and cHydd !='' ">  and C_HYDD = #{cHydd}</if>
			<if test="cHynr != null and cHynr !='' ">  and C_HYNR = #{cHynr}</if>
			
			<if test="dRqBeg != null and ddRqBeg !='' ">  and D_RQ &gt;= to_date(#{dRqBeg},'YYYY-MM-DD')</if>
			<if test="dRqEnd != null and dRqEnd !='' "> and D_RQ &lt;= to_date(#{dRqEnd},'YYYY-MM-DD')</if>
			
			<if test="cCjry != null and cCjry !='' ">  and C_CJRY = #{cCjry}</if>
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
							 select 
					base.N_XH,
					base.C_HYZT,
					base.C_HYDD,
					base.C_HYNR,
					to_char(base.D_RQ,'YYYY-MM-DD')  D_RQ,
					base.C_CJRY,
					base.C_BZ,
					base.C_ZT,
					case base.C_ZT when '1' then '有效'  else '无效' end as C_ZT_NAME
				 from B_HYJL base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cHyzt != null and cHyzt !='' ">  and C_HYZT = #{cHyzt}</if>
			<if test="cHydd != null and cHydd !='' ">  and C_HYDD = #{cHydd}</if>
			<if test="cHynr != null and cHynr !='' ">  and C_HYNR = #{cHynr}</if>
			
			<if test="dRqBeg != null and ddRqBeg !='' ">  and D_RQ &gt;= to_date(#{dRqBeg},'YYYY-MM-DD')</if>
			<if test="dRqEnd != null and dRqEnd !='' "> and D_RQ &lt;= to_date(#{dRqEnd},'YYYY-MM-DD')</if>
			
			<if test="cCjry != null and cCjry !='' ">  and C_CJRY = #{cCjry}</if>
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from B_HYJL base
		  <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cHyzt != null and cHyzt !='' ">  and C_HYZT = #{cHyzt}</if>
			<if test="cHydd != null and cHydd !='' ">  and C_HYDD = #{cHydd}</if>
			<if test="cHynr != null and cHynr !='' ">  and C_HYNR = #{cHynr}</if>
			
			<if test="dRqBeg != null and ddRqBeg !='' ">  and D_RQ &gt;= to_date(#{dRqBeg},'YYYY-MM-DD')</if>
			<if test="dRqEnd != null and dRqEnd !='' "> and D_RQ &lt;= to_date(#{dRqEnd},'YYYY-MM-DD')</if>
			
			<if test="cCjry != null and cCjry !='' ">  and C_CJRY = #{cCjry}</if>
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO B_HYJL(
				 N_XH
			<if test="cHyzt != null and cHyzt !='' ">  , C_HYZT</if>
			<if test="cHydd != null and cHydd !='' ">  ,  C_HYDD</if>
			<if test="cHynr != null and cHynr !='' ">  ,  C_HYNR</if>
			<if test="dRq != null and dRq !='' ">  ,  D_RQ</if>
			<if test="cCjry != null and cCjry !='' ">  ,  C_CJRY</if>
			<if test="cBz != null and cBz !='' ">  ,  C_BZ</if>
			<if test="cZt != null and cZt !='' ">  ,  C_ZT</if>
			)VALUES(
				SEQ_HYJL.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="cHyzt != null and cHyzt !='' ">  ,  #{cHyzt}</if>
			<if test="cHydd != null and cHydd !='' ">  ,  #{cHydd}</if>
			<if test="cHynr != null and cHynr !='' ">  ,  #{cHynr}</if>
			<if test="dRq != null and dRq !='' ">  ,  to_date(#{dRq},'YYYY-MM-DD')</if>
			<if test="cCjry != null and cCjry !='' ">  ,  #{cCjry}</if>
			<if test="cBz != null and cBz !='' ">  ,  #{cBz}</if>
			<if test="cZt != null and cZt !='' ">  ,  #{cZt}</if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_HYJL.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO B_HYJL(
				N_XH,
				C_HYZT,
				C_HYDD,
				C_HYNR,
				D_RQ,
				C_CJRY,
				C_BZ,
				C_ZT
				
			)VALUES(
				 SEQ_HYJL.NEXTVAL,  
				  #{cHyzt},
			     #{cHydd},
			   #{cHynr},
			   to_date(#{dRq},'YYYY-MM-DD')
			   #{cCjry},
			   #{cBz},
			   #{cZt}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_HYJL.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<update id="updateInfo" parameterType="java.util.Map"> 
			update B_HYJL 
			<trim prefix="set" prefixOverrides=","> 
			<if test="cHyzt != null and cHyzt !='' ">, C_HYZT =  #{cHyzt}</if>
			<if test="cHydd != null and cHydd !='' ">, C_HYDD =  #{cHydd}</if>
			<if test="cHynr != null and cHynr !='' ">,C_HYNR =  #{cHynr}</if>
			<if test="dRq != null and dRq !='' ">, D_RQ =   to_date(#{dRq},'YYYY-MM-DD')</if>
			<if test="cCjry != null and cCjry !='' ">, C_CJRY =   #{cCjry}</if>
				<if test="cBz != null and cBz !='' ">, C_BZ =   #{cBz}</if>
					<if test="cZt != null and cZt !='' ">, C_ZT =   #{cZt}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs ">,= null and nXhs !='' ">  and  N_XH in (${nXhs})</if>
			</trim>
	</update> 

	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update B_HYJL set 
				 C_HYZT =  #{cHyzt}
			, C_HYDD =  #{cHydd}
			,C_HYNR =  #{cHynr}
			, D_RQ =  to_date(#{dRq},'YYYY-MM-DD')
			, C_CJRY =   #{cCjry}
			, C_BZ =   #{cBz}
			, C_ZT =   #{cZt}
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM B_HYJL
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ BTN_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>