<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WdzmMapper">
	<resultMap id="Result"  type="java.util.Map">
		<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
		<result property="cZdymc" column="C_ZDYMC" jdbcType="VARCHAR"/>
		<result property="nCdxh" column="N_CDXH" jdbcType="DECIMAL"/>
		<result property="userId" column="USER_ID" jdbcType="DECIMAL"/>
		<result property="nXsxh" column="N_XSXH" jdbcType="DECIMAL"/>
		<result property="cYxx" column="C_YXX" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					base.C_ZDYMC,
					base.N_CDXH,
					base.USER_ID,
					base.N_XSXH,
					base.C_YXX
				 from B_WDZM base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cZdymc != null and cZdymc !='' ">  and C_ZDYMC = #{cZdymc}</if>
			<if test="nCdxh != null and nCdxh !='' ">  and N_CDXH = #{nCdxh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cYxx != null and cYxx !='' ">  and C_YXX = #{cYxx}</if>
		</trim>
		ORDER BY N_XH  ASC 
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
				 select 
					base.N_XH,
					base.C_ZDYMC,
					base.N_CDXH,
					base.USER_ID,
					base.N_XSXH,
					base.C_YXX
				 from B_WDZM base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cZdymc != null and cZdymc !='' ">  and C_ZDYMC = #{cZdymc}</if>
			<if test="nCdxh != null and nCdxh !='' ">  and N_CDXH = #{nCdxh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cYxx != null and cYxx !='' ">  and C_YXX = #{cYxx}</if>
		</trim>
		ORDER BY N_XH  ASC 
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from B_WDZM base
 		<trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cZdymc != null and cZdymc !='' ">  and C_ZDYMC = #{cZdymc}</if>
			<if test="nCdxh != null and nCdxh !='' ">  and N_CDXH = #{nCdxh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cYxx != null and cYxx !='' ">  and C_YXX = #{cYxx}</if>
		</trim>
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO B_WDZM(
				 N_XH
			<if test="cZdymc != null and cZdymc !='' ">  ,  C_ZDYMC</if>
			<if test="nCdxh != null and nCdxh !='' ">  ,  N_CDXH</if>
			<if test="userId != null and userId !='' ">  ,  USER_ID</if>
			<if test="nXsxh != null and nXsxh !='' ">  ,  N_XSXH</if>
			<if test="cYxx != null and cYxx !='' ">  , C_YXX</if>
			)VALUES(
				SEQ_WDZM.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="cZdymc != null and cZdymc !='' ">  , #{cZdymc} </if>
			<if test="nCdxh != null and nCdxh !='' ">  ,  #{nCdxh} </if>
			<if test="userId != null and userId !='' ">  ,  #{userId} </if>
			<if test="nXsxh != null and nXsxh !='' ">  ,  #{nXsxh} </if>
			<if test="cYxx != null and cYxx !='' ">  ,  #{cYxx} </if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_WDZM.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>


	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO SYS_USER(
				N_XH,
				C_ZDYMC,
				N_CDXH,
				USER_ID,
				N_XSXH,
				C_YXX
			)VALUES(
				 SEQ_WDZM.NEXTVAL,  
				<!--#nXh#,-->
				#{cZdymc},
				#{nCdxh},
				#{userId},
				#{nXsxh},
				#{cYxx}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_WDZM.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>



	<update id="updateInfo" parameterType="java.util.Map"> 
			update B_WDZM 
			<trim prefix="set" prefixOverrides=","> 
				<if test="cZdymc != null and cZdymc !='' "> , C_ZDYMC = #{cZdymc}</if>
				<if test="nCdxh != null and nCdxh !='' "> , N_CDXH = #{nCdxh}</if>
				<if test="userId != null and userId !='' "> , USER_ID = #{userId}</if>
				<if test="nXsxh != null and nXsxh !='' "> , N_XSXH = #{nXsxh}</if>
				<if test="cYxx != null and cYxx !='' "> , C_YXX = #{cYxx}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs != null and nXhs !='' ">  and  N_XH in (${nXhs})</if>
			</trim>
	</update> 
	
	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update B_WDZM set 
				N_XH = #{nXh},
				C_ZDYMC = #{cZdymc},
				N_CDXH = #{nCdxh},
				USER_ID = #{userId},
				N_XSXH = #{nXsxh},
				C_YXX = #{cYxx}
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM B_WDZM
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ USER_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>