<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZmcdMapper">
	<resultMap id="Result"  type="java.util.Map">
		<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
		<result property="cMc" column="C_MC" jdbcType="VARCHAR"/>
		<result property="cLj" column="C_LJ" jdbcType="VARCHAR"/>
		<result property="cTb" column="C_TB" jdbcType="VARCHAR"/>
		<result property="nXsxh" column="N_XSXH" jdbcType="DECIMAL"/>
		<result property="cYxx" column="C_YXX" jdbcType="VARCHAR"/>
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					base.C_MC,
					base.C_LJ,
					base.C_TB,
					base.N_XSXH,
					base.C_YXX
				 from B_ZMCD base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cMc != null and cMc !='' ">  and C_MC = #{cMc}</if>
			<if test="cLj != null and cLj !='' ">  and C_LJ = #{cLj}</if>
			<if test="cTb != null and cTb !='' ">  and C_TB = #{cTb}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cYxx != null and cYxx !='' ">  and C_YXX = #{cYxx}</if>
		</trim>
		ORDER BY N_XH  ASC 
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
				 select 
					base.N_XH,
					base.C_MC,
					base.C_LJ,
					base.C_TB,
					base.N_XSXH,
					base.C_YXX
				 from B_ZMCD base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cMc != null and cMc !='' ">  and C_MC = #{cMc}</if>
			<if test="cLj != null and cLj !='' ">  and C_LJ = #{cLj}</if>
			<if test="cTb != null and cTb !='' ">  and C_TB = #{cTb}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cYxx != null and cYxx !='' ">  and C_YXX = #{cYxx}</if>
		</trim>
		ORDER BY N_XH  ASC 
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from B_ZMCD base
 		<trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="cMc != null and cMc !='' ">  and C_MC = #{cMc}</if>
			<if test="cLj != null and cLj !='' ">  and C_LJ = #{cLj}</if>
			<if test="cTb != null and cTb !='' ">  and C_TB = #{cTb}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cYxx != null and cYxx !='' ">  and C_YXX = #{cYxx}</if>
		</trim>
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO B_ZMCD(
				 N_XH
			<if test="cMc != null and cMc !='' ">  ,  C_MC</if>
			<if test="cLj != null and cLj !='' ">  ,  C_LJ</if>
			<if test="cTb != null and cTb !='' ">  ,  C_TB</if>
			<if test="nXsxh != null and nXsxh !='' ">  ,  N_XSXH</if>
			<if test="cYxx != null and cYxx !='' ">  , C_YXX</if>
			)VALUES(
				SEQ_ZMCD.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="cMc != null and cMc !='' ">  , #{cMc} </if>
			<if test="cLj != null and cLj !='' ">  ,  #{cLj} </if>
			<if test="cTb != null and cTb !='' ">  ,  #{cTb} </if>
			<if test="nXsxh != null and nXsxh !='' ">  ,  #{nXsxh} </if>
			<if test="cYxx != null and cYxx !='' ">  ,  #{cYxx} </if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_ZMCD.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>


	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO SYS_USER(
				N_XH,
				C_MC,
				C_LJ,
				C_TB,
				N_XSXH,
				C_YXX
			)VALUES(
				 SEQ_ZMCD.NEXTVAL,  
				<!--#nXh#,-->
				#{cMc},
				#{cLj},
				#{cTb},
				#{nXsxh},
				#{cYxx}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_ZMCD.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>



	<update id="updateInfo" parameterType="java.util.Map"> 
			update B_ZMCD 
			<trim prefix="set" prefixOverrides=","> 
				<if test="cMc != null and cMc !='' "> , C_MC = #{cMc}</if>
				<if test="cLj != null and cLj !='' "> , C_LJ = #{cLj}</if>
				<if test="cTb != null and cTb !='' "> , C_TB = #{cTb}</if>
				<if test="nXsxh != null and nXsxh !='' "> , N_XSXH = #{nXsxh}</if>
				<if test="cYxx != null and cYxx !='' "> , C_YXX = #{cYxx}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs != null and nXhs !='' ">  and  N_XH in (${nXhs})</if>
			</trim>
	</update> 
	
	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update B_ZMCD set 
				N_XH = #{nXh},
				C_MC = #{cMc},
				C_LJ = #{cLj},
				C_TB = #{cTb},
				N_XSXH = #{nXsxh},
				C_YXX = #{cYxx}
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM B_ZMCD
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ USER_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>