<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarCheckMapper">

	 <resultMap type="CarCheck"     id="resultCarCheck">
	 	<result column="N_XH"      property="n_xh"/>
	 	<result column="N_CLLBXH"  property="n_cllbxh"/>
	 	<result column="C_JCCMC"    property="c_jccmc"/>
	 	<result column="N_CLXSZLC"    property="n_clxszlc"/>
	 	<result column="D_JCRQ"    property="d_jcrq"/>
	 </resultMap>

	<select id="getCarCheck" parameterType="CarCheck" resultType="CarCheck">
		 SELECT   N_XH      ,
				  N_CLLBXH  ,
				  TO_CHAR(D_JCRQ,'YYYY-MM-DD') D_JCRQ ,
				  C_JCCMC    ,
				  N_CLXSZLC    ,
				  N_JCFY   ,
				  TO_CHAR(D_DJ,'YYYY-MM-DD') D_DJ ,
				  C_CLBM ,
				  C_YHZID   ,
				  C_YHID     
		FROM B_CLJC WHERE N_XH = #{n_xh}
	</select>
	
	
	<delete id="deleteCarCheck" parameterType="int">
		DELETE FROM B_CLJC WHERE N_XH = #{n_xh}
	</delete>
	
	<insert id="insertCarCheck" parameterType="hashmap">
	 BEGIN
		 INSERT INTO B_CLJC(
		      N_XH      ,
			  N_CLLBXH  ,
			  C_CLBM    ,
			  D_JCRQ    ,
			  C_JCCMC   ,
			  N_CLXSZLC ,
			  N_JCFY    ,
			  D_DJ      ,
			  C_YHZID   ,
			  C_YHID    ) 
		VALUES (	            	
	          seq_b_cljc.nextval,        
              #{n_cllbxh,jdbcType=NUMERIC},  
              #{c_clbm,jdbcType=VARCHAR},
			  TO_DATE(#{d_jcrq,jdbcType=DATE},'YYYY-MM-DD'),
			  #{c_jccmc,jdbcType=VARCHAR}, 
			  #{n_clxszlc,jdbcType=NUMERIC},
			  #{n_jcfy,jdbcType=NUMERIC},
			  SYSDATE,
			  #{c_yhzid,jdbcType=VARCHAR}, 
			  #{c_yhid,jdbcType=VARCHAR}
	    );
	    UPDATE B_CLLB SET D_YCSJ =  TO_DATE(#{d_jcrq,jdbcType=DATE},'YYYY-MM-DD') WHERE N_XH = #{n_cllbxh,jdbcType=NUMERIC};
	 END;
	</insert>
	
	<select id="getCarCheckPageList" resultMap="resultCarCheck" parameterType="hashmap">
	SELECT N_XH, N_CLLBXH, C_JCCMC, N_CLXSZLC, D_JCRQ
	  FROM (SELECT S.*, ROWNUM RN
	          FROM (SELECT N_XH,
				       FUN_GET_CPHM(N_CLLBXH) N_CLLBXH,
				       C_JCCMC,
				       N_CLXSZLC,
				       TO_CHAR(D_JCRQ,'YYYY-MM-DD') D_JCRQ
				  FROM B_CLJC
				  <where>
				  	  <if test="c_clbm != null and c_clbm != '' ">
					  	 C_CLBM = #{c_clbm}
					  </if> 
					  <if test="n_cllbxh != null and n_cllbxh != '' ">
					  	 AND N_CLLBXH = #{n_cllbxh}
					  </if>
				  </where>
				  ORDER BY N_XH DESC) S
	         WHERE ROWNUM &lt;= #{limit}) T
	 WHERE T.RN &gt; #{start}
	</select>
	
	<select id="getCarCheckPageListCnt" resultType="long" parameterType="hashmap">
		SELECT COUNT(*) Total
		  FROM B_CLJC
		  <where>
		  	  <if test="c_clbm != null and c_clbm != '' ">
			  	 C_CLBM = #{c_clbm}
			  </if> 
			  <if test="n_cllbxh != null and n_cllbxh != '' ">
			  	 AND N_CLLBXH = #{n_cllbxh}
			  </if>
		  </where>
	</select>
	
	<update id="updateCarCheck" parameterType="hashmap">
		UPDATE B_CLJC
	      SET N_CLLBXH   =  #{n_cllbxh,jdbcType=NUMERIC},
	     	  C_CLBM     =  #{c_clbm,jdbcType=VARCHAR},
			  D_JCRQ     =  TO_DATE(#{d_jcrq,jdbcType=DATE},'YYYY-MM-DD'),
			  C_JCCMC    =  #{c_jccmc,jdbcType=VARCHAR},
			  N_CLXSZLC  =  #{n_clxszlc,jdbcType=NUMERIC},
			  N_JCFY     =  #{n_jcfy,jdbcType=NUMERIC}
		WHERE N_XH = #{n_xh}
	</update>
	
	
</mapper>