<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysRoleMapper">

	<resultMap id="Result"  type="java.util.Map">
		<result property="roleId" column="ROLE_ID" jdbcType="DECIMAL"/>
		<result property="roleName" column="ROLE_NAME" jdbcType="VARCHAR"/>
		<result property="roleDescription" column="ROLE_DESCRIPTION" jdbcType="VARCHAR"/>
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.ROLE_ID,
					base.ROLE_NAME,
					base.ROLE_DESCRIPTION
				 from SYS_ROLE base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="roleId != null and roleId !='' ">  and ROLE_ID = #{roleId}</if>
			<if test="roleName != null and roleName !='' ">  and ROLE_NAME = #{roleName}</if>
			<if test="roleDescription != null and roleDescription !='' ">  and ROLE_DESCRIPTION = #{roleDescription}</if>
		</trim>
		ORDER BY MENU_ID  ASC 
	</select>


	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
	 	 select 
					base.ROLE_ID,
					base.ROLE_NAME,
					base.ROLE_DESCRIPTION
				 from SYS_ROLE base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="roleId != null and roleId !='' ">  and ROLE_ID = #{roleId}</if>
			<if test="roleName != null and roleName !='' ">  and ROLE_NAME = #{roleName}</if>
			<if test="roleDescription != null and roleDescription !='' ">  and ROLE_DESCRIPTION = #{roleDescription}</if>
		</trim>
		ORDER BY ROLE_ID  ASC 
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.ROLE_ID) from SYS_ROLE base
 		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="roleId != null and roleId !='' ">  and ROLE_ID = #{roleId}</if>
			<if test="roleName != null and roleName !='' ">  and ROLE_NAME = #{roleName}</if>
			<if test="roleDescription != null and roleDescription !='' ">  and ROLE_DESCRIPTION = #{roleDescription}</if>
		</trim>
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO SYS_ROLE(
				 ROLE_ID
			<if test="roleName != null and roleName !='' ">  , ROLE_NAME</if>
			<if test="roleDescription != null and roleDescription !='' ">  ,  ROLE_DESCRIPTION</if>
			)VALUES(
				SEQ_SYS_ROLE_ID.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="roleName != null and roleName !='' ">  , #{roleName} </if>
			<if test="roleDescription != null and roleDescription !='' ">  ,  #{roleDescription} </if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_SYS_ROLE_ID.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>


	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO SYS_USER(
				ROLE_ID,
				ROLE_NAME,
				ROLE_DESCRIPTION
			)VALUES(
				 SEQ_SYS_ROLE_ID.NEXTVAL,  
				<!--#nXh#,-->
				#{roleName},
				#{roleDescription}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_SYS_ROLE_ID.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>



	<update id="updateInfo" parameterType="java.util.Map"> 
			update SYS_ROLE 
			<trim prefix="set" prefixOverrides=","> 
				<if test="roleName != null and roleName !='' "> , ROLE_NAME = #{roleName}</if>
				<if test="roleDescription != null and roleDescription !='' "> , ROLE_DESCRIPTION = #{roleDescription}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="roleId != null and roleId !='' ">  and ROLE_ID = #{roleId}</if>
				<if test="roleIds != null and roleIds !='' ">  and  ROLE_ID in (${roleIds})</if>
			</trim>
	</update> 
	
	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update SYS_ROLE set 
				ROLE_ID = #{roleId},
				ROLE_NAME = #{roleName},
				ROLE_DESCRIPTION = #{roleDescription}
			WHERE 
				ROLE_ID = #{roleId}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM SYS_ROLE
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ USER_ID IN (${userIds}) ]]>--> 
			 ROLE_ID =#{roleId} 
	</delete> 
</mapper>