<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysPermissionMapper">
	<resultMap id="Result" type="java.util.Map">
		<result property="accessName" column="ACCESS_NAME" jdbcType="VARCHAR" />
		<result property="accessNo" column="ACCESS_NO" jdbcType="VARCHAR" />
		<result property="btnId" column="BTN_ID"  jdbcType="VARCHAR" />
		<result property="accessIcon" column="ACCESS_ICON"
			jdbcType="VARCHAR" />
	</resultMap>
	
    <resultMap id="InfoResult" type="java.util.Map">
		<result property="btnId" column="BTN_ID" jdbcType="VARCHAR" />
	</resultMap>


	<select id="queryAllInfo" resultMap="Result" parameterType="java.util.Map">
		select menu_name||'--'|| btn_name as ACCESS_NAME, BTN_no as ACCESS_no,BTN_id as BTN_ID,
		btn_icon as ACCESS_ICON from sys_button ,sys_menu where
		sys_button.menu_id=sys_menu.menu_id order by sys_menu.menu_id aSC,btn_id asc
	</select>


	<select id="queryInfo" resultMap="InfoResult" parameterType="java.util.Map">
		select authority_id BTN_ID from sys_permission where role_id= #{roleId}
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map">
		select count(base.MENU_ID) from SYS_MENU base
		<trim prefix="where" prefixOverrides="and |or">
			<if test="menuId != null and menuId !='' "> and MENU_ID = #{menuId}</if>
			<if test="menuNo != null and menuNo !='' "> and MENU_NO = #{menuNo}</if>
			<if test="menuParentNo != null and menuParentNo !='' "> and MENU_PARENT_NO = #{menuParentNo}</if>
			<if test="menuName != null and menuName !='' "> and MENU_NAME = #{menuName}</if>
			<if test="menuUrl != null and menuUrl !='' "> and MENU_URL = #{menuUrl}</if>
			<if test="menuIcon != null and menuIcon !='' "> and MENU_ICON = #{menuIcon}</if>
			<if test="isvisible != null and isvisible !='' "> and ISVISIBLE = #{isvisible}</if>
		</trim>
	</select>

	<insert id="saveInfo" parameterType="java.util.Map">
		INSERT INTO SYS_PERMISSION(
		PERMISSION_ID
		<if test="roleId != null and roleId !='' "> , ROLE_ID</if>
		<if test="authorityId  != null and authorityId !='' "> , AUTHORITY_ID</if>
		)VALUES(
		SEQ_SYS_PERMISSION_ID.NEXTVAL
		<!-- #{n_xh# -->
		<if test="roleId != null and roleId !='' "> , #{roleId} </if>
		<if test="authorityId != null and authorityId !='' "> , #{authorityId} </if>
		)
		<selectKey resultType="string" keyProperty="id">
			<!--SELECT #{nXh# AS ID FROM dual -->
			SELECT SEQ_SYS_PERMISSION_ID.CURRVAL AS ID FROM dual
		</selectKey>
	</insert>


	<insert id="saveAllInfo" parameterType="java.util.Map">
		INSERT INTO SYS_PERMISSION(
		PERMISSION_ID,
		ROLE_ID,
		AUTHORITY_ID
		)VALUES(
		SEQ_SYS_PERMISSION_ID.NEXTVAL,
		<!--#nXh#, -->
		#{roleId},
		#{authorityId}
		)
		<selectKey resultType="string" keyProperty="id">
			<!--SELECT #{nXh# AS ID FROM dual -->
			SELECT SEQ_SYS_PERMISSION_ID.CURRVAL AS ID FROM dual
		</selectKey>
	</insert>



	<update id="updateInfo" parameterType="java.util.Map">
		update SYS_MENU
		<trim prefix="set" prefixOverrides=",">
			<if test="menuNo != null and menuNo !='' "> , MENU_NO = #{menuNo}</if>
			<if test="menuParentNo != null and menuParentNo !='' "> , MENU_PARENT_NO = #{menuParentNo}</if>
			<if test="menuName != null and menuName !='' "> , MENU_NAME = #{menuName}</if>
			<if test="menuUrl != null and menuUrl !='' "> , MENU_URL = #{menuUrl}</if>
			<if test="menuIcon != null and menuIcon !='' "> , MENU_ICON = #{menuIcon}</if>
			<if test="isvisible != null and isvisible !='' "> , ISVISIBLE = #{isvisible}</if>
		</trim>
		<trim prefix="where" prefixOverrides="and |or">
			<if test="menuId != null and menuId !='' "> and MENU_ID = #{menuId}</if>
			<if test="menuIds != null and menuIds !='' "> and MENU_ID in (${menuIds})</if>
		</trim>
	</update>

	<update id="updateAllInfo" parameterType="java.util.Map">
		update SYS_MENU set
		MENU_ID = #{menuId},
		MENU_NO = #{menuNo},
		MENU_PARENT_NO = #{menuParentNo},
		MENU_NAME = #{menuName}
		MENU_URL = #{menuUrl}
		MENU_ICON = #{menuIcon}
		ISVISIBLE = #{isvisible}
		WHERE
		MENU_ID = #{menuId}
	</update>

	<delete id="removeInfo" parameterType="java.util.Map">
		DELETE FROM SYS_PERMISSION
		WHERE
		<!--N_XH = #{nXh# <![CDATA[ USER_ID IN (${userIds}) ]]> -->
		ROLE_ID =#{roleId}
	</delete>
</mapper>