<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysButtonMapper">
	
	<resultMap id="Result"  type="java.util.Map">
		<result property="btnId" column="BTN_ID" jdbcType="DECIMAL"/>
		<result property="btnName" column="BTN_NAME" jdbcType="VARCHAR"/>
		<result property="btnNo" column="BTN_NO" jdbcType="VARCHAR"/>
		<result property="btnClass" column="BTN_CLASS" jdbcType="VARCHAR"/>
		<result property="btnIcon" column="BTN_ICON" jdbcType="VARCHAR"/>
		<result property="btnScript" column="BTN_SCRIPT" jdbcType="VARCHAR"/>
		<result property="menuId" column="MENU_ID" jdbcType="DECIMAL"/>
		<result property="initstatus" column="INITSTATUS" jdbcType="CHAR"/>
		
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.BTN_ID,
					base.BTN_NAME,
					base.BTN_NO,
					base.BTN_CLASS,
					base.BTN_ICON,
					base.BTN_SCRIPT,
					base.MENU_ID,
					base.INITSTATUS
				 from SYS_button base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="btnId != null and btnId !='' ">  and BTN_ID = #{btnId}</if>
			<if test="btnName != null and btnName !='' ">  and BTN_NAME = #{btnName}</if>
			<if test="btnNo != null and btnNo !='' ">  and BTN_NO = #{btnNo}</if>
			<if test="btnClass != null and btnClass !='' ">  and BTN_CLASS = #{btnClass}</if>
			<if test="btnIcon != null and btnIcon !='' ">  and BTN_ICON = #{btnIcon}</if>
			<if test="btnScript != null and btnScript !='' ">  and BTN_SCRIPT, = #{btnScript}</if>
			<if test="menuId != null and menuId !='' ">  and MENU_ID = #{menuId}</if>
			<if test="initstatus != null and initstatus !='' ">  and INITSTATUS = #{initstatus}</if>
		</trim>
		ORDER BY BTN_ID  DESC 
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
		 select 
					base.BTN_ID,
					base.BTN_NAME,
					base.BTN_NO,
					base.BTN_CLASS,
					base.BTN_ICON,
					base.BTN_SCRIPT,
					base.MENU_ID,
					base.INITSTATUS
				 from SYS_button base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="btnId != null and btnId !='' ">  and BTN_ID = #{btnId}</if>
			<if test="btnName != null and btnName !='' ">  and BTN_NAME = #{btnName}</if>
			<if test="btnNo != null and btnNo !='' ">  and BTN_NO = #{btnNo}</if>
			<if test="btnClass != null and btnClass !='' ">  and BTN_CLASS = #{btnClass}</if>
			<if test="btnIcon != null and btnIcon !='' ">  and BTN_ICON = #{btnIcon}</if>
			<if test="btnScript != null and btnScript !='' ">  and BTN_SCRIPT, = #{btnScript}</if>
			<if test="menuId != null and menuId !='' ">  and MENU_ID = #{menuId}</if>
			<if test="initstatus != null and initstatus !='' ">  and INITSTATUS = #{initstatus}</if>
		</trim>
		ORDER BY BTN_ID  DESC 
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.USER_ID) from SYS_USER base
 		<trim prefix="where" prefixOverrides="and |or"> 
			<if test="userId != null and userId !='' ">  and 	USER_ID = #{userId}</if>
			<if test="userName != null and userName !='' ">  and 	USER_NAME = #{userName}</if>
			<if test="userName != null and userName !='' ">  and 	USER_PASSWORD = #{userName}</if>
			<if test="userLock != null and userLock !='' ">  and 	USER_LOCK = #{userLock}</if>
		</trim>
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO SYS_USER(
				 USER_ID
			<if test="userName != null and userName !='' ">  , USER_NAME</if>
			<if test="userPassword != null and userPassword !='' ">  , USER_PASSWORD</if>
			<if test="userLock != null and userLock !='' ">  ,  USER_LOCK</if>
			)VALUES(
				SEQ_SYS_USER_ID.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="userName != null and userName !='' ">  ,  #{userName}</if>
			<if test="userPassword != null and userPassword !='' ">  ,  #{userPassword}</if>
			<if test="userLock != null and userLock !='' "> ,  #{userLock} </if>
			
			
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_SYS_USER_ID.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO SYS_USER(
				USER_ID,
				USER_NAME,
				USER_PASSWORD,
				USER_LOCK
			)VALUES(
				 SEQ_SYS_USER_ID.NEXTVAL,  
				<!--#nXh#,-->
				#{userName},
				#{userPassword},
				#{userLock}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_SYS_USER_ID.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<update id="updateInfo" parameterType="java.util.Map"> 
			update SYS_USER 
			<trim prefix="set" prefixOverrides=","> 
				<if test="userName != null and userName !='' "> , USER_NAME = #{userName}</if>
				<if test="userPassword != null and userPassword !='' "> , USER_PASSWORD = #{userPassword}</if>
				<if test="userLock != null and userLock !='' "> , USER_LOCK = #{userLock}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
				<if test="userIds != null and userIds !='' ">  and  USER_ID in (${userIds})</if>
			</trim>
	</update> 

	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update SYS_USER set 
				USER_ID = #{userId},
				USER_NAME = #{userName},
				USER_PASSWORD = #{userPassword},
				USER_LOCK = #{userLock}
			WHERE 
				USER_ID = #{userId}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM SYS_USER
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ USER_ID IN (${userIds}) ]]>--> 
			 USER_ID =#{userId} 
	</delete> 
</mapper>