/*Reset Settings*/
body,div,span,object,frame,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input,menu{margin:0;padding:0}
body{font-size:12px;font-family:Tahoma,Verdana,STHeiTi,simsun,sans-serif;margin-left:15px;margin-top:15px;}
a img, :link img, :visited img{border:0}
table{border-collapse:collapse}
ul{list-style:none}
q:before, q:after,blockquote:before, blockquote:after{content:""}
input.inputtext:focus, textarea:focus, select:focus{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FCFCFC none repeat scroll 0 0;
}
select{border:1px solid #BDC7D8;height:22px;padding:2px}
article, aside, dialog, figure, footer, header, 
hgroup, menu, nav, section,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article, aside, dialog, figure, footer, header, 
hgroup, nav, section { 
    display: block;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}


/* Link */
a{color:#005EAC}
a:link, a:visited{color:#005EAC;text-decoration:none}
a:hover{color:#005EAC;text-decoration:underline}
a.dark{color:#333}
a.action{border-bottom:1px solid #d8dfea;display:block;padding:3px 9px;text-decoration:none}
a.action:hover{background-color:#005EAC;color:#fff;text-decoration:none}

/* Elements */
body{color:#333;background:#FFF;word-wrap:break-word;}
h1{font-size:16px}
h2{font-size:14px}
h3{font-size:14px}
h4{font-size:12px}
h5{font-size:12px}
h6{font-size:12px}
small{font-size:11px}
option{padding-left:5px}
em{font-style:normal;font-weight:400}
/* Standard */
.pipe{margin:0 3px;color:#aaa;font-size:11px;font-weight:400}
.hyphen{padding:0 5px;font-size:14px;color:#aaa}
.status-em{margin:0 0.15em;cursor:pointer;border:0}
.shadow{border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5}
.description,.time{color:#888888}
.float-left{float:left}
.float-right{float:right}
.clear-both{clear:both}
.hide{display:none}
.show{display:block}
.small{font-size:11px;font-family:tahoma, mingliu}
.large{font-size:14px}
.empty{visibility:hidden}

.lively-user,
a.lively-user:link,
a.lively-user:visited {color:#F60;}
a.lively-user:hover {color:#F60;}
/* Form */
fieldset{border:none}
input,select{vertical-align:middle;font-size:12px}
label{color:#333;cursor:pointer;}
textarea{border:1px solid #bdc7d8;padding:3px;font-size:12px;overflow:auto}
select,label,textarea,input{font-family:'lucida grande',tahoma,verdana,arial,STHeiTi,simsun,sans-serif}
.input-text{border:1px solid #bdc7d8;padding:3px;*behavior:expression(function(ele){ele.style.behavior='none';if(ele.disabled)ele.style.backgroundColor='#D4D0C8'}(this))}
.input-text[disabled]{background-color:#D4D0C8}
.input-checkbox{margin-right:5px}
.input-file{border:1px solid #bdc7d8}
.input-button,.input-submit{background-color:#005eac;border-color:#b8d4e8 #124680 #124680 #b8d4e8;border-style:solid;border-width:1px;color:#fff;cursor:pointer;font-size:12px;padding:2px 15px;text-align:center;_padding:3px 10px;*behavior:expression(function(ele){ele.style.behavior='none';if(ele.disabled){ele.style.backgroundColor='#D4D0C8';ele.style.border="0"}}(this))}
.input-button[disabled], .input-submit[disabled]{background-color:#D4D0C8;border:0}
input.gray{border:1px solid;border-color:#fff #848484 #848484 #fff !important;background:#f0f0f0 !important;color:#333 !important}
input.mini{padding:2px;_padding:1px 2px}
input.large{padding:3px 15px;font-size:14px;_padding:5px 10px 2px}
/* Error */

/* clearFix*/
.clearfix:after,.feed:after,.feed-content .headline:after,.comment:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix,.feed,.feed-content .headline,.comment{display:inline-block}
.clearfix,.feed,.feed-content .headline,.comment{display:block}


.login .login-page {width:900px;margin:0 auto;}
.login .side-column {float:left;width:220px;}
.login .main-column {float:right;width:658px;}

.login .side-column .errors_div {padding:0;margin:0;background:none;border:0;font-weight:bold;text-align:left;color:red;}



/* Login Panel */
.login-panel{border:1px solid #b8d4e8;background-color:#f0f5f8;padding:20px}

.login-form p { margin:10px 0; line-height:20px;}
.login-form p.top {margin:0;padding:0;}
.login-form p.bottom {margin:0;padding:0;*border-top:none}
.login-form label { display:block; font-weight:normal; color:#333; line-height:20px;}
.login-form .labelCheckbox { font-weight:normal; color:#333;}
.login-form .labelCheckbox input { margin-right:5px;}
.login-form .input-text{ width:180px; background-color:#fff;background-position:0 -170px;background-repeat;no-repeat}
.extra-guide .portal{border:1px solid #e8e7e7; background:#f0f5f8; width:190px; height:41px; position:relative; display:block; margin:10px 2px 10px 0; padding:10px 0 0 30px; color:#808080;}
.extra-guide .portal:hover { color:#333; text-decoration:none;}
.extra-guide .portal strong { margin-left:-12px; font-size:14px;padding-left:12px; line-height:1.2; display:block; color:#333;}
.extra-guide .portal:hover strong { color:#000;}
.extra-guide .portal_y{background-position:-460px 0;padding-left:35px;padding-top:18px;height:33px;width:185px;color:#808080 !important;}
.extra-guide .portal_y strong{background:none;}
.extra-guide .portal_y:hover{color:#333 !important;}

/* First - reg */

.login .reg-holder {padding:40px 0px 10px 50px;border:1px solid #ccc;border-bottom:1px solid #005eac;position:relative;}
.login .reg-holder p.description {margin:10px 0;}
.login .search-friends {margin:0 48px 10px 0;border-bottom:1px solid #ccc;padding-bottom:10px;}
.login .search-friends .go {float:left;padding-right:10px;background:url(http://s.xnimg.cn/imgpro/arrow/right_blue.gif) no-repeat right center;}
.login .search-friends .go .find-friends{display:block;background:url(http://s.xnimg.cn/imgpro/icons/findfriend.gif) no-repeat left center;padding:2px 0 2px 20px;font-weight:bold;}
.login .search-friends .search-form {float:right;}

/* Full login page */
.full-login {float:left;width:360px;padding-top:8px;}
.full-login .login-panel .inner{border:1px solid #b8d4e8; padding:20px; background-color:#f0f5f8}

.full-login .login-panel h2 {margin-bottom:15px;}
.full-login .login-panel label {color:#333;font-weight:normal;}
.full-login .login-panel p {margin:10px 0;}
.full-login .login-panel p.clearfix label {font-size:14px;width:77px;float:left;text-align:right;margin:3px 7px 0 0;}
.full-login .login-panel p .input-text {width:220px;font-size:14px;}
.full-login .login-panel p.right {margin-left:85px; margin-right:5px}
.full-login .login-panel .separator {height:0px;overflow:hidden;border-top:1px solid #ccc;border-bottom:1px solid #fff;margin:18px 0 15px;}
.full-login .login-panel p.no-account {font-size:14px;text-align:center;}
.full-login .login-panel p.no-account a {width:86px;height: 25px;margin:10px auto 0;outline:0;}





