*{    
    margin:0px; padding:0px;font-family: "宋体";

}
a:link{
	color:#333333; TEXT-DECORATION:none; 
}
a:visited{
	color:#333333; TEXT-DECORATION:none;
}
a:hover{
	color:#DE5A0A;
}
.mylink{
    COLOR: #303030;  FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 12px;font-weight:bold;
}
a.mylink:link{
	color:#333333; font-size:12px; TEXT-DECORATION:none; font-weight:bold;
}
a.mylink:visited{
	color:#333333; font-size:12px;TEXT-DECORATION:none;font-weight:bold;
}
a.mylink:hover{
	color:#0075CE; font-size:12px;TEXT-DECORATION:none;font-weight:bold;
}
.clear_float{
	clear:both; height:0px;font-size:1px;
}
.float_left{
	float:left
}
.float_right{
	float:right
}
.H21 {
    font-weight:bold; PADDING-RIGHT: 10px; PADDING-LEFT: 30px;  PADDING-BOTTOM: 0px; font-size:14px;font-weight:bold;COLOR: #333; LINE-HEIGHT: 31px; PADDING-TOP: 0px; HEIGHT: 31px;background:url(../images/lm_dot.gif) no-repeat 10px 9px;
}
.H31{
	font-weight:bold;PADDING-RIGHT: 10px; PADDING-LEFT: 30px;  PADDING-BOTTOM: 0px; font-size:14px;font-weight:bold;COLOR: #FFF; LINE-HEIGHT: 27px; PADDING-TOP: 0px; HEIGHT: 27px;background:url(../images/lm_dot2.gif) no-repeat 10px 9px;
}
.more {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right;padding-top:10px;
}
.slide_bg{background:url(../images/gov_Wygkcn_71.gif) repeat-x left top;}
.lianmu_bg{background:url(../images/Wygkcn_wygkcn.gif) repeat-x left top;}
ul{margin:0px;padding:0px;}
li{list-style:none;}
div,input,table{
	font-size:12px;
	font-weight:normal;
}
table{border-collapse:collapse;}
hr{height:1px;color:#BBBBBB;}
.normal_tr{background:#FFFFFF}
.Hover_tr{background:#e8e8e8}
.blue_tit{color:#000;font-size:12px;font-weight:bold; }
.black_title{ color:#000000;font-size:12px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif;}

/**
body{  color:#101010;font-size:12px;background: #FFEBB9 url(../images/background.gif) repeat-x top;}
**/

body{  color:#101010;font-size:12px;background: #eeece9;}
#Wygkcn_Content{margin:0px auto;width:1002px;background:#FFFFFF;}
.list {margin:0px;text-align:left;padding: 2px;}
.list Li {
	list-style:none;font-size:12px; line-height: 26px;
}
.list li span{
	color: #666666;
	float: right;
	text-align: right;
	clear:right;
	font-size:12px;
	padding-right:6px;
}
.list li a, .list li a:visited {
    font-size:12px;
	color: #333333;
	TEXT-DECORATION: none;
	padding:0px;

}
.list li a:hover{
	background:  #F7F7F7;
	color: #D8590C;
	TEXT-DECORATION: none;
}
.pic_word{
	FONT-FAMILY:Verdana, Arial, "宋体";
	FONT-SIZE: 8pt;
	color: #ff0000;
}
.my           { color:#FF0000; FONT-FAMILY:Verdana, Arial, 宋体; FONT-SIZE: 9pt}
A.my:link     {COLOR: #FF0000; TEXT-DECORATION: none}
A.my:visited  {COLOR: #FF0000;  TEXT-DECORATION: none}
A.my:active   {COLOR: #000000;  TEXT-DECORATION: none}
A.my:hover    {COLOR: #000000;  TEXT-DECORATION: none}

.content_text{
FONT-FAMILY:Verdana, Arial, 宋体;
font-size:14px;
line-height:24px;
color:#333333;
padding:5px;
}
#login{
   width:536px;
   margin:100px auto;
}
.login_01{
   height:59px;
   background:url(../images/login_01.gif) no-repeat;
}
.login_02{
   height:140px;
   background:url(../images/login_02.gif) no-repeat;
}
.login_03{
   height:17px;
   background:url(../images/login_03.gif) no-repeat;
}
.ver{
   height:40px;
   text-align:center;
   line-height:40px;
}
.logincnt{
   text-align:center;
   margin:48px 8px 0px 8px;
}
.copyright{
   margin-top:20px;
   text-align:center;
   color:#FFFFFF;
}
/*公共样式表*/

/*顶部样式*/
.header{
    margin:0px auto;
    height:28px;
	background: url(../images/i_Wygkcn_school_02.gif) repeat-x;  position:relative;  width:1002px; margin:0 auto;
}
.Wygkcngover_menu{
   padding-left:30px;
   
}
.Wygkcngover_menu ul li{
   float:left;
}

.Wygkcngover_menu ul li image{
   display:block;
}
.Wygkcngover_menu_link a,.Wygkcngover_menu_link a:hover,.Wygkcngover_menu_link a:visited{
   font-weight:bold;
   color:#FFf;
   padding-right:10px;
   font-size:14px;
   line-height:28px;
}
.login{
	text-align:left;
	line-height:22px;
	padding:4px 0px 0px 8px;
}
.mymenu{
   width:380px;
   text-align:right;
   line-height:26px;
   padding-right:8px;
}
.banner{
   marign:0;
   padding:0;
   width:100%;
   width:1002px;
}
.white_tit{
   color:#ffffff;
   font-size:12px;
   font-weight:bold;   
}
.white_tit a:link,.white_tit a:visited{
   color:#ffffff; 
}
.white_tit a:hover{
   color:#ff0000;
}


/*导航菜单样式表*/

.nav_main{
	margin: 0px auto;
    background: url('../images/Wygkcn_main_nav.gif') repeat-x ;  position:relative;  width:1002px; margin:0 auto;
    height: 34px;
    position:relative; 
    margin:0 auto;
}

.nav_main ul li {
	float: left;
	text-align: center;
	list-style:none;
}
.nav_main ul{
	margin: 0px auto;
	padding: 0px; 
}
.nav_main li{
	float: left;
	text-align: center;
	list-style:none;
}

.nav_current {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	line-height:34px;
	TEXT-DECORATION: none;
	width: 95px;
	background: url(../images/menu_Wygkcn_hover.gif) no-repeat 0px;  position:relative; margin:0 auto;
}
a.f_nav:link {
	color: #ffffff;
	display: block;
	height: 14px;
	TEXT-DECORATION: none;
	
}

a.f_nav:visited {
	color: #ffffff;
}

a.f_nav:hover {
	color: #FFF;
	display: block;
	TEXT-DECORATION: none;
}
.nav_link {
	cursor:pointer;
	float: left;
	font-size: 14px;
	font-weight:bold;
	height: 34px;
	line-height:34px;
	TEXT-DECORATION: none;
	width: 95px;
}
.nav_link a,.nav_link a:visited {
	color:#ffffff;
}
.nav_link a:hover{
	color:#FFFFFF;
	display: block;
}
.nav_sub {
	height:30px;
	line-height:30px;
	color: #000;
	text-align: left;
	line-height:21px;
	background: url(../images/sub_nav_bg.gif) repeat-x  left top;
}

.nav_sub a:link,.nav_sub a:visited,.nav_sub a:active {
	color: #000;
	TEXT-DECORATION: none;
}
.nav_sub a:hover {
	color: #ff0000;
	TEXT-DECORATION: underline;
}
.nav_sub li {
	display:inline;
	height: 0px;
	margin: 0px;
	padding: 0px;
	list-style:none;
}
.hidden, .undis {
	display: none;
}
.sub_box {
	float: left;
	text-align: left;
	padding:0px 0px 0px 10px;
}
.sub_box2 {
	padding:0px 0px 0px 95px;
}
.sub_box3 {
	padding:0px 0px 0px 110px;
}
.sub_box4 {
	padding:0px 0px 0px 310px;
}
.sub_box5 {
	padding:0px 0px 0px 200px;
}
.sub_box6 {
	padding:0px 0px 0px 475px;
}
.sub_box7 {
	padding:0px 0px 0px 540px;
}
.sub_box8 {
	padding:0px 0px 0px 670px;
}
.sub_box9 {
	padding:0px 0px 0px 670px;
}
.sub_box10 {
	padding:0px 0px 0px 750px;
}


/*导航菜单样式表*/
/*底部样式表*/
#footer{
   margin:0px auto;
   background:#FFFFFF;
}
.foot_nav{
    height:29px;
	text-align:center;
	line-height:29px;
	background:url(../images/bottom_Wygkcn_bg.gif)  repeat-x ;  position:relative;  width:1002px; margin:0 auto;
}
.foot_info{
    text-align:center;
	padding:12px 0px;
}
