<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases >

	<typeAlias alias="User" type="com.unis.app.login.model.User" />
	
	<typeAlias alias="News" type="com.unis.app.news.model.News" />
	
	<typeAlias alias="Column" type="com.unis.app.column.model.Column" />

</typeAliases>

</configuration>