<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ColumnMapper">
	 <resultMap type="Column" id="resultColumn">
	 	<result column="N_XH" property="n_xh"/>
	 	<result column="C_LMDM" property="c_lmdm"/>
	 	<result column="C_SJLMDM" property="c_sjlmdm"/>
	 	<result column="C_LMMC" property="c_lmmc"/>
	 	<result column="C_SFDH" property="c_sfdh"/>
	 	<result column="C_SFTP" property="c_sftp"/>
	 	<result column="C_SFNR" property="c_sfnr"/>
	 	<result column="N_XSXH" property="n_xsxh"/>
	 </resultMap>
	 
	<select id="getColumn" parameterType="Column" resultType="Column">
		SELECT * FROM B_LANMU WHERE N_XH = #{n_xh}
	</select>
	 
	<select id="getColumnList" resultMap="resultColumn">
		SELECT N_XH,
		       C_LMDM,
		       C_SJLMDM,
		       (CASE C_SJLMDM
		         WHEN '0000' THEN
		          C_LMMC
		         ELSE
		          '|--'||C_LMMC
		       END)C_LMMC,
		       DECODE(C_SFDH, '1', '是', '否') C_SFDH,
		       DECODE(C_SFTP, '1', '是', '否') C_SFTP,
		       DECODE(C_SFNR, '1', '是', '否') C_SFNR,
		       NVL(N_XSXH, '') N_XSXH
		  FROM B_LANMU
		 START WITH C_SJLMDM = '0000'
		CONNECT BY PRIOR C_LMDM = C_SJLMDM

	</select>
	
	<delete id="deleteColumn" parameterType="int">
		DELETE FROM B_LANMU WHERE N_XH = #{n_xh}
	</delete>
	
	<insert id="insertColumn" parameterType="hashmap">
		 INSERT INTO B_LANMU(
		   N_XH     ,
		   C_LMDM   ,
		   C_LMMC   ,
		   C_YHID   ,
		   C_YHZID  ,
		   C_SJLMDM ,
		   C_SFDH   ,
		   C_SFTP   ,
		   C_TPLJDZ ,
		   C_SFNR   ,
		   C_NR     ,
		   C_LJ     ,
		   N_XSXH   ,
		   D_DJ    ) 
		VALUES (	            	
		     seq_b_lanmu.nextval,
		     seq_b_lanmu_dm.nextval,    
		     #{c_lmmc,jdbcType=CHAR},
	         #{c_yhid,jdbcType=VARCHAR},   
	         #{c_yhzid,jdbcType=VARCHAR},          
	         #{c_sjlmdm,jdbcType=VARCHAR},          
	         #{c_sfdh,jdbcType=CHAR},        
	         #{C_sftp,jdbcType=CHAR},        
	         #{C_tpljdz,jdbcType=VARCHAR},            
	         #{c_sfnr,jdbcType=CHAR},            
	         #{c_nr,javaType=String,jdbcType=CLOB,handler=ClobTypeHandler},            
	         #{c_lj,jdbcType=VARCHAR},           
	       	 #{n_xxxh,jdbcType=NUMERIC},  
	       	 sysdate      
	    )  
	</insert>
	
	<update id="updateColumn" parameterType="Column">
		UPDATE B_LANMU
		   SET  C_LMMC   =	#{c_lmmc,jdbcType=VARCHAR},
				C_SFDH   =	#{c_sfdh,jdbcType=VARCHAR}, 
				C_SFTP   =	#{c_sftp,jdbcType=VARCHAR}, 							
				C_TPLJDZ =	#{c_tpljdz,jdbcType=NUMERIC},   							
				C_SFNR   =	#{c_sfnr,jdbcType=NUMERIC},     							
				C_NR     =	#{c_nr,jdbcType=CLOB,handler=ClobTypeHandler},   							
				N_XSXH   =	#{n_xsxh,jdbcType=NUMERIC}    							
		WHERE N_XH = #{n_xh}
	</update>
	
	
	
</mapper>