<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MobileMapper">
	 
	 <resultMap type="Mobile"       id="resultMobile">
	 	<result column="ID"       property="n_xh"/>
	 	<result column="RECEIVER"   property="c_jsr"/>
	 	<result column="SENDER"     property="c_yhid"/>
	 	<result column="SENDTIME"   property="d_fs"/>
	 </resultMap>
	 
	<select id="getMobile" parameterType="Mobile" resultType="Mobile">
		SELECT * FROM SMS_BOXSENDED WHERE ID = #{n_xh}
	</select>
	 
	<select id="getMobileReceiveList" resultMap="resultMobile">
		SELECT ID,
		       RECEIVER, 
		       CONTENT, 
		       SENDTIME
		  FROM SMS_BOXSENDED
		  	WHERE RECEIVER = #{c_sjhm}
	</select>
	
	<select id="getMobileSendList" resultMap="resultMobile" parameterType="hashmap">
		SELECT ID,
		       RECEIVER, 
		       CONTENT, 
		       SENDTIME
		  FROM SMS_BOXSENDED
		  	WHERE RECEIVER = #{c_sjhm}
	</select>
	
	<select id="getMobileSendPageList" resultMap="resultMobile" parameterType="hashmap">
		SELECT ID,
		       RECEIVER, 
		       CONTENT, 
		       SENDTIME
		  FROM SMS_BOXSENDED
		  	WHERE SENDER = #{c_yhid}
		LIMIT #{start},#{limit}
	</select>
	
	<select id="getMobileSendPageListCnt"  resultType="long" resultMap="resultMobile">
		SELECT COUNT(*) Total
		  FROM SMS_BOXSENDED
		  	WHERE SENDER = #{c_yhid}
	</select>
	
	<delete id="deleteMobile" parameterType="int">
		DELETE FROM SMS_BOXSENDED WHERE ID = #{n_xh}
	</delete>
	
	<insert id="insertMobile" parameterType="hashmap">
		INSERT INTO SMS_BOXSENDING
			  (SENDER, RECEIVER, CONTENT, SENDTIME, INSERTTIME )
			VALUES
		<foreach collection="list" item="item" separator=",">
			  (#{c_yhid}, #{item.c_jsr}, #{c_nr}, NOW(), NOW())
		</foreach>
	</insert>
	
	
	<insert id="insertOutMobile" parameterType="hashmap">
		INSERT INTO SMS_BOXSENDING
		  (SENDER, RECEIVER, CONTENT, SENDTIME, INSERTTIME)
		VALUES
		  (#{c_yhid},#{c_jsr}, #{c_nr}, now(), now())
	</insert>
	
</mapper>