<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebsiteMapper">

	 <resultMap type="Website"    id="resultWebtype">
	 	<result column="N_XH"     property="n_xh"/>
	 	<result column="C_LBMC"   property="c_lbmc"/>
	 	<result column="N_XSXH"   property="n_xsxh"/>
	 	<result column="D_DJ"   property="d_dj"/>
	 </resultMap>
	 
	 <resultMap type="Website"    id="resultWebsite">
	 	<result column="N_XH"     property="n_xh"/>
	 	<result column="N_LBXH"   property="n_lbxh"/>
	 	<result column="C_BT"   property="c_bt"/>
	 	<result column="C_LJ"   property="c_lj"/>
	 	<result column="N_XSXH"   property="n_xsxh"/>
	 	<result column="D_DJ"   property="d_dj"/>
	 </resultMap>
	 
	<select id="getWebtype" parameterType="Website" resultType="Website">
		SELECT * FROM B_WZLB WHERE N_XH = #{n_xh}
	</select>
	 
    <select id="getWebsite" parameterType="Website" resultType="Website">
		SELECT * FROM B_CYWZ WHERE N_XH = #{n_xh}
	</select>
	 
	<select id="getWebsiteList" resultMap="resultWebsite">
		SELECT N_XH,
			   FUN_GET_WZLB(N_LBXH) N_LBXH,
		       C_BT,
		       C_LJ,
		       TO_CHAR(D_DJ,'YYYY-MM-DD HH24:MI:SS') D_DJ,
		       NVL(N_XSXH,'') N_XSXH
		  FROM B_CYWZ
	</select>
	
	<select id="getWebtypeList" resultMap="resultWebtype">
		SELECT N_XH,
		       C_LBMC,
		       TO_CHAR(D_DJ,'YYYY-MM-DD HH24:MI:SS') D_DJ,
		       NVL(N_XSXH,'') N_XSXH
		  FROM B_WZLB
	</select>
	
	<select id="getWebsiteLists"  parameterType="string"  resultMap="resultWebsite">
		SELECT N_XH,
			   FUN_GET_WZLB(N_LBXH) N_LBXH,
		       C_BT,
		       C_LJ,
		       TO_CHAR(D_DJ,'YYYY-MM-DD HH24:MI:SS') D_DJ,
		       NVL(N_XSXH,'') N_XSXH
		  FROM B_CYWZ WHERE N_LBXH=#{n_lbxh}
		  ORDER BY N_XSXH
	</select>
	
	
	<select id="getWebtypeCombox" resultType="Combox">
		SELECT N_XH VALUE,
		       C_LBMC TEXT
		  FROM B_WZLB
	</select>
	
	<delete id="deleteWebsite" parameterType="int">
		DELETE FROM B_CYWZ WHERE N_XH = #{n_xh}
	</delete>
	
	<delete id="deleteWebtype" parameterType="int">
		DELETE FROM B_WZLB WHERE N_XH = #{n_xh}
	</delete>
	
	<insert id="insertWebsite" parameterType="hashmap">
		 INSERT INTO B_CYWZ(
		   N_XH    ,
		   N_LBXH  ,
		   C_YHID  ,
		   C_BT    ,
		   C_LJ    ,
		   N_XSXH  ,
		   D_DJ    ) 
		VALUES (	            	
		     seq_b_cywz.nextval,        
	         #{n_lbxh,jdbcType=NUMERIC},  
	         #{c_yhid,jdbcType=VARCHAR},         
	         #{c_bt,jdbcType=VARCHAR},           
	         #{c_lj,jdbcType=VARCHAR},           
	       	 #{n_xsxh,jdbcType=NUMERIC},  
	       	 sysdate      
	    )  
	</insert>
	
	<insert id="insertWebtype" parameterType="hashmap">
		 INSERT INTO B_WZLB(
		   N_XH    ,
		   C_LBMC  ,
		   N_XSXH  ,
		   D_DJ    ) 
		VALUES (	            	
		     seq_b_wzlb.nextval,        
	         #{c_lbmc,jdbcType=VARCHAR},           
	       	 #{n_xsxh,jdbcType=NUMERIC},  
	       	 sysdate      
	    )  
	</insert>
	
	<update id="updateWebsite" parameterType="hashmap">
		UPDATE B_CYWZ
		   SET  C_BT   =	#{c_bt,jdbcType=VARCHAR},  							
		    	C_LJ   =	#{c_lj,jdbcType=VARCHAR},  							
				N_XSXH   =	#{n_xsxh,jdbcType=NUMERIC}    							
		WHERE N_XH = #{n_xh}
	</update>
	
	<update id="updateWebtype" parameterType="hashmap">
		UPDATE B_WZLB
		   SET  C_LBMC   =	#{c_lbmc,jdbcType=VARCHAR},  							
				N_XSXH   =	#{n_xsxh,jdbcType=NUMERIC}    							
		WHERE N_XH = #{n_xh}
	</update>
	
	
	
</mapper>