<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases >

	<typeAlias alias="User" type="com.unis.app.login.model.User" />
	
	<typeAlias alias="News" type="com.unis.app.news.model.News" />
	
	<typeAlias alias="Column" type="com.unis.app.column.model.Column" />
	
	<typeAlias alias="Website" type="com.unis.app.website.model.Website" />
	
	<typeAlias alias="Combox" type="com.unis.core.commons.Combox" />

	<typeAlias alias="Notice" type="com.unis.app.notice.model.Notice" />

	<typeAlias alias="Car"  type="com.unis.app.car.model.Car" />
	
	<typeAlias alias="Blog"  type="com.unis.app.blog.model.Blog" />

	<typeAlias alias="Message"  type="com.unis.app.message.model.Message" />

	<typeAlias alias="Email"  type="com.unis.app.email.model.Email" />

</typeAliases>

</configuration>