<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<import resource="dataAccessContext.xml" />
	
	<!-- 业务处理配置 -->
	
	<!-- login 登陆模块  -->
	<bean id="loginService" class="com.unis.app.login.service.LoginService" parent="absServiceAdapter"/>
	<!--
	<bean id="loginAction" class="com.unis.drugcontol.login.action.LoginAction" scope="prototype">
		<property name="loginService" ref="loginService" />
	</bean>
	-->
	
	<!-- news 新闻模块  -->
	<bean id="newsService" class="com.unis.app.news.service.NewsService" parent="absServiceAdapter"/>
	<bean id="columnService" class="com.unis.app.column.service.ColumnService" parent="absServiceAdapter"/>
	<bean id="websiteService" class="com.unis.app.website.service.WebsiteService" parent="absServiceAdapter"/>
	<bean id="noticeService" class="com.unis.app.notice.service.NoticeService" parent="absServiceAdapter"/>
	<bean id="carService" class="com.unis.app.car.service.CarService" parent="absServiceAdapter"/>
	<bean id="blogService" class="com.unis.app.blog.service.BlogService" parent="absServiceAdapter"/>
	<bean id="messageService" class="com.unis.app.message.service.MessageService" parent="absServiceAdapter"/>
	<bean id="emailService" class="com.unis.app.email.service.EmailService" parent="absServiceAdapter"/>
	
	<bean id="mobileService" class="com.unis.app.mobile.service.MobileService" parent="absServiceAdapterMySql"/>
    
    <!-- zl 模块 -->
	<bean id="clxxDao" class="com.unis.app.limit.service.dao.ClxxDao" parent="absServiceAdapter"/>
	
	<bean id="wdzmDao" class="com.unis.app.desktop.service.dao.WdzmDao" parent="absServiceAdapter"/>
	<bean id="zmcdDao" class="com.unis.app.desktop.service.dao.ZmcdDao" parent="absServiceAdapter"/>
	
	<bean id="kqCcjlDao" class="com.unis.app.duty.service.dao.KqCcjlDao" parent="absServiceAdapter"/>
	<bean id="kcqQqsbDao" class="com.unis.app.duty.service.dao.KqQqsbDao" parent="absServiceAdapter"/>
	<bean id="kqSxbDao" class="com.unis.app.duty.service.dao.KqSxbDao" parent="absServiceAdapter"/>
	<bean id="kqYbjlDao" class="com.unis.app.duty.service.dao.KqYbjlDao" parent="absServiceAdapter"/>
	<bean id="kqZbDao" class="com.unis.app.duty.service.dao.KqZbDao" parent="absServiceAdapter"/>
	
	<bean id="holidayDao" class="com.unis.app.holiday.service.dao.HolidayDao" parent="absServiceAdapter"/>
	
	<bean id="kitDao" class="com.unis.app.kit.service.dao.KitDao" parent="absServiceAdapter"/>
	
	<bean id="hyjlDao" class="com.unis.app.meeting.service.dao.HyjlDao" parent="absServiceAdapter"/>
	
	<bean id="dmDao" class="com.unis.app.system.service.dao.DmDao" parent="absServiceAdapter"/>
	<bean id="sysButtonDao" class="com.unis.app.system.service.dao.SysButtonDao" parent="absServiceAdapter"/>
	<bean id="sysMenuDao" class="com.unis.app.system.service.dao.SysMenuDao" parent="absServiceAdapter"/>
	<bean id="sysPermissionDao" class="com.unis.app.system.service.dao.SysPermissionDao" parent="absServiceAdapter"/>
	<bean id="sysRoleDao" class="com.unis.app.system.service.dao.SysRoleDao" parent="absServiceAdapter"/>
	<bean id="sysUserDao" class="com.unis.app.system.service.dao.SysUserDao" parent="absServiceAdapter"/>
	
	<bean id="userInfoDao" class="com.unis.app.userinfo.service.dao.UserInfoDao" parent="absServiceAdapter"/>
	
	<bean id="kqQwapDao" class="com.unis.app.duty.service.dao.KqQwapDao" parent="absServiceAdapter"/>
	<bean id="kqHyssqDao" class="com.unis.app.duty.service.dao.KqHyssqDao" parent="absServiceAdapter"/>
	<bean id="kqHytsDao" class="com.unis.app.duty.service.dao.KqHytsDao" parent="absServiceAdapter"/>
	
	
	<bean id="sysConfigDao" class="com.unis.app.system.service.dao.SysConfigDao" parent="absServiceAdapter"/>
	
	
	
	
</beans>
