<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DmMapper">
	<resultMap id="Result"  type="java.util.Map">
		<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
		<result property="nBxh" column="N_BXH" jdbcType="VARCHAR"/>
		<result property="cDm" column="C_DM" jdbcType="VARCHAR"/>
		<result property="cMc" column="C_MC" jdbcType="VARCHAR"/>
		<result property="nXsxh" column="N_XSXH" jdbcType="VARCHAR"/>
		<result property="cTj" column="C_TJ" jdbcType="VARCHAR"/>
		<result property="cSjdm" column="C_SJDM" jdbcType="CHAR"/>
		<result property="dDj" column="D_DJ" jdbcType="VARCHAR"/>
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					base.N_BXH,
					base.C_DM,
					base.C_MC,
					base.N_XSXH,
					base.C_TJ,
					base.C_SJDM,
					to_char(base.D_DJ,'YYYY-MM-DD') D_DJ
				 from D_DM base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="nBxh != null and nBxh !='' ">  and N_BXH = #{nBxh}</if>
			<if test="cDm != null and cDm !='' ">  and C_DM = #{cDm}</if>
			<if test="cMc != null and cMc !='' ">  and C_MC = #{cMc}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cTj != null and cTj !='' ">  and C_TJ = #{cTj}</if>
			<if test="cSjdm != null and cSjdm !='' ">  and C_SJDM = #{cSjdm}</if>
		</trim>
		ORDER BY N_XH  DESC 
	</select>


	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
				 select 
					base.N_XH,
					base.N_BXH,
					base.C_DM,
					base.C_MC,
					base.N_XSXH,
					base.C_TJ,
					base.C_SJDM,
					to_char(base.D_DJ,'YYYY-MM-DD') D_DJ
				 from D_DM base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="nBxh != null and nBxh !='' ">  and N_BXH = #{nBxh}</if>
			<if test="cDm != null and cDm !='' ">  and C_DM = #{cDm}</if>
			<if test="cMc != null and cMc !='' ">  and C_MC = #{cMc}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cTj != null and cTj !='' ">  and C_TJ = #{cTj}</if>
			<if test="cSjdm != null and cSjdm !='' ">  and C_SJDM = #{cSjdm}</if>
		</trim>
		ORDER BY N_XH  DESC 
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from D_DM base
 		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="nBxh != null and nBxh !='' ">  and N_BXH = #{nBxh}</if>
			<if test="cDm != null and cDm !='' ">  and C_DM = #{cDm}</if>
			<if test="cMc != null and cMc !='' ">  and C_MC = #{cMc}</if>
			<if test="nXsxh != null and nXsxh !='' ">  and N_XSXH = #{nXsxh}</if>
			<if test="cTj != null and cTj !='' ">  and C_TJ = #{cTj}</if>
			<if test="cSjdm != null and cSjdm !='' ">  and C_SJDM = #{cSjdm}</if>
		</trim>
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO D_DM(
				 N_XH
			<if test="nBxh != null and nBxh !='' ">  , N_BXH</if>
			<if test="cDm != null and cDm !='' ">  ,  C_DM</if>
			<if test="cMc != null and cMc !='' ">  ,  C_MC</if>
			<if test="nXsxh != null and nXsxh !='' ">  ,  N_XSXH</if>
			<if test="cTj != null and cTj !='' ">  , C_TJ</if>
			<if test="cSjdm != null and cSjdm !='' ">  , C_SJDM</if>
			<if test="dDj != null and dDj !='' ">  , D_DJ</if>
			)VALUES(
				SEQ_DM.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="nBxh != null and nBxh !='' ">  , #{nBxh} </if>
			<if test="cDm != null and cDm !='' ">  ,  #{cDm} </if>
			<if test="cMc != null and cMc !='' ">  ,  #{cMc} </if>
			<if test="nXsxh != null and nXsxh !='' ">  ,  #{nXsxh} </if>
			<if test="cTj != null and cTj !='' ">  ,  #{cTj} </if>
			<if test="cSjdm != null and cSjdm !='' ">  , #{cSjdm} </if>
				<if test="dDj != null and dDj !='' ">  , to_date(#{dDj},'YYYY-MM-DD')</if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_DM.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>


	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO SYS_USER(
			   N_XH,
				N_BXH,
				C_DM,
				C_MC,
				N_XSXH,
				C_TJ,
				C_SJDM,
				D_DJ
			)VALUES(
				 SEQ_DM.NEXTVAL,  
				<!--#nXh#,-->
				#{nBxh},
				#{cDm},
				#{cMc},
				#{nXsxh},
				#{cTj},
				#{cSjdm},
				to_date(#{dDj},'YYYY-MM-DD')
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_DM.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>



	<update id="updateInfo" parameterType="java.util.Map"> 
			update D_DM 
			<trim prefix="set" prefixOverrides=","> 
				<if test="nBxh != null and nBxh !='' "> , N_BXH = #{nBxh}</if>
				<if test="cDm != null and cDm !='' "> , C_DM = #{cDm}</if>
				<if test="cMc != null and cMc !='' "> , C_MC = #{cMc}</if>
				<if test="nXsxh != null and nXsxh !='' "> , N_XSXH = #{nXsxh}</if>
				<if test="cTj != null and cTj !='' "> , C_TJ = #{cTj}</if>
				<if test="cSjdm != null and cSjdm !='' "> , C_SJDM = #{cSjdm}</if>
					<if test="dDj != null and dDj !='' "> , D_DJ = to_date(#{dDj},'YYYY-MM-DD')</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs != null and nXhs !='' ">  and  N_XH in (${nXh})</if>
			</trim>
	</update> 
	
	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update D_DM set 
				N_BXH = #{nBxh},
				C_DM = #{cDm},
				C_MC = #{cMc},
				N_XSXH = #{nXsxh},
				C_TJ = #{D_DJ},
				C_SJDM = #{cSjdm},
				D_DJ = to_date(#{dDj},'YYYY-MM-DD')
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM D_DM
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ USER_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>