<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KqSxbMapper">
	
	<resultMap id="Result"  type="java.util.Map">
	     	<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
			<result property="userId" column="USER_ID" jdbcType="DECIMAL"/>
			<result property="nLx" column="N_LX" jdbcType="VARCHAR"/>
			<result property="dDj" column="D_DJ" jdbcType="VARCHAR"/>
			<result property="cZt" column="C_ZT" jdbcType="VARCHAR"/>
		
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					base.USER_ID,
					base.N_LX,
					to_char(base.D_DJ,'YYYY-MM-DD')  D_DJ,
					base.C_ZT
				 from B_KQ_SXB base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			<if test="nLx != null and nLx !='' ">  and N_LX = #{nLx}</if>
			<if test="dDjBeg != null and dDjBeg !='' ">  and D_DJ &gt;= to_date(#{dDjBeg},'YYYY-MM-DD')</if>
			<if test="dDjEnd != null and dDjEnd !='' "> and D_DJ &lt; to_date(#{dDjEnd},'YYYY-MM-DD')</if>
			
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
								 select 
					base.N_XH,
					base.USER_ID,
					base.N_LX,
					to_char(base.D_DJ,'YYYY-MM-DD')  D_DJ,
					base.C_ZT
				 from B_KQ_SXB base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			<if test="nLx != null and nLx !='' ">  and N_LX = #{nLx}</if>
			<if test="dDjBeg != null and dDjBeg !='' ">  and D_DJ &gt;= to_date(#{dDjBeg},'YYYY-MM-DD')</if>
			<if test="dDjEnd != null and dDjEnd !='' "> and D_DJ &lt; to_date(#{dDjEnd},'YYYY-MM-DD')</if>
			
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from B_KQ_SXB base
			 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			<if test="nLx != null and nLx !='' ">  and N_LX = #{nLx}</if>
			<if test="dDjBeg != null and dDjBeg !='' ">  and D_DJ &gt;= to_date(#{dDjBeg},'YYYY-MM-DD')</if>
			<if test="dDjEnd != null and dDjEnd !='' "> and D_DJ &lt; to_date(#{dDjEnd},'YYYY-MM-DD')</if>
			
			<if test="cZt != null and cZt !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO B_KQ_SXB(
				 N_XH
			<if test="userId != null and userId !='' ">  , USER_ID</if>
			<if test="nLx != null and nLx !='' ">  ,  N_LX</if>
			<if test="dDj != null and dDj !='' ">  ,  D_DJ</if>
			<if test="cZt != null and cZt !='' ">  ,  C_ZT</if>
			)VALUES(
				SEQ_KQ_SXB.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="userId != null and userId !='' ">  ,  #{userId}</if>
			<if test="nLx != null and nLx !='' ">  ,  #{nLx}</if>
			<if test="dDj != null and dDj !='' ">  ,  to_date(#{dDj},'YYYY-MM-DD')</if>
			<if test="cZt != null and cZt !='' ">  ,  #{cZt}</if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_KQ_SXB.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO B_KQ_SXB(
				N_XH,
				USER_ID,
				N_LX,
				D_DJ,
				C_ZT
			)VALUES(
				 SEQ_KQ_SXB.NEXTVAL,  
				  #{userId},
			     #{nLx},
			   to_date(#{dDj},'YYYY-MM-DD'),
			   #{cZt}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_KQ_SXB.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<update id="updateInfo" parameterType="java.util.Map"> 
			update B_KQ_SXB 
			<trim prefix="set" prefixOverrides=","> 
			<if test="userId != null and userId !='' ">, USER_ID =  #{userId}</if>
			<if test="nLx != null and nLx !='' ">, N_LX =  #{nLx}</if>
			<if test="dDj != null and dDj !='' ">, D_DJ = to_date(#{dDj},'YYYY-MM-DD')</if>
			<if test="cZt != null and cZt !='' ">, C_ZT =   #{cZt}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs ">,= null and nXhs !='' ">  and  N_XH in (${nXhs})</if>
			</trim>
	</update> 

	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update B_KQ_SXB set 
				 USER_ID =  #{userId}
			, N_LX =  #{nLx}
			, D_DJ =  to_date(#{dDj},'YYYY-MM-DD')
			, C_ZT =   #{cZt}
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM B_KQ_SXB
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ BTN_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>