<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KqZbMapper">
	
	<resultMap id="Result"  type="java.util.Map">
	     	<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
			<result property="userId" column="USER_ID" jdbcType="DECIMAL"/>
			<result property="cDd" column="C_DD" jdbcType="VARCHAR"/>
			<result property="cYy" column="C_YY" jdbcType="VARCHAR"/>
			<result property="dSj" column="D_SJ" jdbcType="VARCHAR"/>
			<result property="cBz" column="C_BZ" jdbcType="VARCHAR"/>
		<result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
		
	</resultMap>
	
	<resultMap id="Result2"  type="java.util.Map">
		<result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
		
	</resultMap>
	 
<select id="getZb" resultMap="Result2"  parameterType="java.util.Map" >
				 select 
					FUN_GET_YHMC(USER_ID) USER_NAME
				 from B_KQ_ZB base where d_sj like sysdate
		        ORDER BY base.N_XH  DESC
	</select>


	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					base.USER_ID,
					base.C_DD,
					base.C_YY,
					to_char(base.D_SJ,'YYYY-MM-DD')  D_SJ,
					base.C_BZ,
					FUN_GET_YHMC(USER_ID) USER_NAME
				 from B_KQ_ZB base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			
			<if test="dSjBeg != null and dSjBeg !='' ">  and D_SJ &gt;= to_date(#{dSjBeg},'YYYY-MM-DD')</if>
			<if test="dSjEnd != null and ddSjEnd !='' "> and D_SJ &lt; to_date(#{dSjEnd},'YYYY-MM-DD')</if>
			
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
						 select 
					base.N_XH,
					base.USER_ID,
					base.C_DD,
					base.C_YY,
					to_char(base.D_SJ,'YYYY-MM-DD')  D_SJ,
					base.C_BZ,
					FUN_GET_YHMC(USER_ID) USER_NAME
				 from B_KQ_ZB base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			
			<if test="dSjBeg != null and dSjBeg !='' ">  and D_SJ &gt;= to_date(#{dSjBeg},'YYYY-MM-DD')</if>
			<if test="dSjEnd != null and ddSjEnd !='' "> and D_SJ &lt; to_date(#{dSjEnd},'YYYY-MM-DD')</if>
			
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
		</trim>
		ORDER BY base.N_XH  DESC
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from B_KQ_ZB base
		  <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="userId != null and userId !='' ">  and USER_ID = #{userId}</if>
			
			<if test="dSjBeg != null and dSjBeg !='' ">  and D_SJ &gt;= to_date(#{dSjBeg},'YYYY-MM-DD')</if>
			<if test="dSjEnd != null and ddSjEnd !='' "> and D_SJ &lt; to_date(#{dSjEnd},'YYYY-MM-DD')</if>
			
			<if test="cBz != null and cBz !='' ">  and C_BZ = #{cBz}</if>
		</trim>
		ORDER BY base.N_XH  DESC
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO B_KQ_ZB(
				 N_XH
			<if test="userId != null and userId !='' ">  , USER_ID</if>
			<if test="cDd != null and cDd !='' ">  , C_DD</if>
			<if test="cYy != null and cYy !='' ">  , C_YY</if>
			<if test="dSj != null and dSj !='' ">  ,  D_SJ</if>
			<if test="cBz != null and cBz !='' ">  ,  C_BZ</if>
			)VALUES(
				SEQ_KQ_ZB.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="userId != null and userId !='' ">  ,  #{userId}</if>
			<if test="cDd != null and cDd !='' ">  , #{cDd}</if>
			<if test="cYy != null and cYy !='' ">  , #{cYy}</if>
			<if test="dSj != null and dSj !='' ">  ,  to_date(#{dSj},'YYYY-MM-DD')</if>
			<if test="cBz != null and cBz !='' ">  ,  #{cBz}</if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_KQ_ZB.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO B_KQ_ZB(
				N_XH,
				USER_ID,
				C_DD,
				C_YY,
				D_SJ,
				C_BZ
			)VALUES(
				 SEQ_KQ_ZB.NEXTVAL,  
				  #{userId},
				  #{cDd},
				   #{cYy},
			   to_date(#{dSj},'YYYY-MM-DD'),
			   #{cBz}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_KQ_ZB.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<update id="updateInfo" parameterType="java.util.Map"> 
			update B_KQ_ZB 
			<trim prefix="set" prefixOverrides=","> 
			<if test="userId != null and userId !='' ">, USER_ID =  #{userId}</if>
			<if test="cDd != null and cDd !='' ">  C_DD=#{cDd}</if>
			<if test="cYy != null and cYy !='' ">  C_YY=#{cYy}</if>
			
			<if test="dSj != null and dSj !='' ">, D_SJ = to_date(#{dSj},'YYYY-MM-DD')</if>
			<if test="cBz != null and cBz !='' ">, C_BZ =   #{cBz}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs ">,= null and nXhs !='' ">  and  N_XH in (${nXhs})</if>
			</trim>
	</update> 

	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update B_KQ_ZB set 
				 USER_ID =  #{userId}
				 , C_DD=#{cDd}
				 , C_YY=#{cYy}
			, D_SJ =  to_date(#{dSj},'YYYY-MM-DD')
			, C_BZ =   #{cBz}
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM B_KQ_ZB
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ BTN_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>