<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HolidayMapper">
	
	<resultMap id="Result"  type="java.util.Map">
		<result property="nXh" column="N_XH" jdbcType="DECIMAL"/>
		<result property="dRq" column="D_RQ" jdbcType="VARCHAR"/>
		<result property="cZt" column="C_ZT" jdbcType="CHAR"/>
		
	</resultMap>
	 

	<select id="queryAllInfo" resultMap="Result"  parameterType="java.util.Map" >
				 select 
					base.N_XH,
					to_char(D_RQ,'YYYY-MM-DD') as D_RQ,
					base.C_ZT
				 from B_JIARI base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="dRqBeg != null and dRqBeg !='' ">  and D_RQ &gt;= to_date(#{dRqBeg},'YYYY-MM-DD')</if>
			<if test="dRqEnd != null and dRqEnd !='' "> and D_RQ &lt; to_date(#{dRqEnd},'YYYY-MM-DD')</if>
			<if test="cZt != null and btnNo !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.D_RQ  DESC
	</select>

	<select id="queryInfo" resultMap="Result" parameterType="java.util.Map" >
		<include refid="pagination.paginationStart"></include>
				select 
					base.N_XH,
					to_char(D_RQ,'YYYY-MM-DD') as D_RQ,
					base.C_ZT
				 from B_JIARI base 
		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
			<if test="dRqBeg != null and dRqBeg !='' ">  and D_RQ &gt;= to_date(#{dRqBeg},'YYYY-MM-DD')</if>
			<if test="dRqEnd != null and dRqEnd !='' "> and D_RQ &lt; to_date(#{dRqEnd},'YYYY-MM-DD')</if>
			<if test="cZt != null and btnNo !='' ">  and C_ZT = #{cZt}</if>
		</trim>
		ORDER BY base.D_RQ  DESC
		<include refid="pagination.paginationLast"></include>
	</select>


	<select id="queryCountInfo" resultType="integer" parameterType="java.util.Map" >
				select count(base.N_XH) from B_JIARI base
 		 <trim prefix="where" prefixOverrides="and |or"> 
			<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
		<if test="dRqBeg != null and dRqBeg !='' ">  and D_RQ &gt;= to_date(#{dRqBeg},'YYYY-MM-DD')</if>
			<if test="dRqEnd != null and dRqEnd !='' "> and D_RQ &lt; to_date(#{dRqEnd},'YYYY-MM-DD')</if>
			<if test="cZt != null and btnNo !='' ">  and C_ZT = #{cZt}</if>
		</trim>
	</select> 
	
	

	<insert id="saveInfo" parameterType="java.util.Map" >
			INSERT INTO B_JIARI(
				 N_XH
			<if test="dRq != null and dRq !='' ">  , D_RQ</if>
			<if test="cZt != null and cZt !='' ">  ,  C_ZT</if>
			)VALUES(
				SEQ_JIARI.NEXTVAL 
				<!-- #{n_xh#-->
			<if test="dRq != null and dRq !='' ">  ,  to_date(#{dRq},'YYYY-MM-DD')</if>
			<if test="cZt != null and cZt !='' ">  ,  #{cZt}</if>
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual  -->
			 SELECT  SEQ_JIARI.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<insert id="saveAllInfo" parameterType="java.util.Map" >
			INSERT INTO B_JIARI(
				N_XH,
				D_RQ,
				C_ZT
			)VALUES(
				 SEQ_JIARI.NEXTVAL,  
				<!--#nXh#,-->
				to_date(#{dRq},'YYYY-MM-DD'),
				#{cZt}
			)
		<selectKey resultType="string" keyProperty="id" >
			 <!--SELECT #{nXh# AS ID FROM dual --> 
			 SELECT  SEQ_JIARI.CURRVAL  AS ID FROM dual 
		</selectKey>
	</insert>

	<update id="updateInfo" parameterType="java.util.Map"> 
			update B_JIARI 
			<trim prefix="set" prefixOverrides=","> 
				<if test="dRq != null and dRq !='' "> , D_RQ = to_date(#{dRq},'YYYY-MM-DD')</if>
				<if test="cZt != null and cZt !='' "> , C_ZT = #{cZt}</if>
			</trim>
			<trim prefix="where" prefixOverrides="and |or">  
				<if test="nXh != null and nXh !='' ">  and N_XH = #{nXh}</if>
				<if test="nXhs != null and nXhs !='' ">  and  N_XH in (${nXhs})</if>
			</trim>
	</update> 

	<update id="updateAllInfo" parameterType="java.util.Map"> 
			update B_JIARI set 
				N_XH = #{nXh},
				D_RQ = to_date(#{dRq},'YYYY-MM-DD'),
				C_ZT = #{cZt}
			WHERE 
				N_XH = #{nXh}
	</update> 

	<delete id="removeInfo" parameterType="java.util.Map"> 
			 DELETE FROM B_JIARI
			 WHERE
			<!--N_XH = #{nXh#
			<![CDATA[ BTN_ID IN (${userIds}) ]]>--> 
			 N_XH =#{nXh} 
	</delete> 
</mapper>